<!DOCTYPE html>
<html>
  <head>
    <title>PresetBase &mdash; Login</title>
    <link rel="stylesheet" href="/styles/auth/login.css" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="content-wrapper">
        <main class="container">
          <section class="auth-main-container">
            <div class="auth-card">
              <img
                src="/assets/images/logo.webp"
                alt="PresetBase Logo"
                class="auth-img"
              />
              <div class="auth-text-container">
                <span class="auth-text-large">Sign in</span>
                <span class="auth-text-small">Welcome back to PresetBase.</span>
              </div>
              <div class="auth-btn-container">
                <div class="auth-services-container">
                  <div
                    id="g_id_onload"
                    data-client_id="552195519989-g2ecsb7uvc1b3e31qllpthbproj1pbpb.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-login_uri="/auth/google"
                    data-auto_prompt="false"
                  ></div>

                  <div
                    class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="continue_with"
                    data-size="large"
                    data-logo_alignment="left"
                  ></div>
                </div>

                <div class="auth-divider">
                  <span>OR</span>
                </div>

                <form class="auth-email-field" action="#" method="POST">
                  <input
                    type="email"
                    id="email"
                    class="auth-input"
                    placeholder="Email"
                    disabled
                  />
                  <input
                    type="password"
                    id="password"
                    class="auth-input"
                    placeholder="Password"
                    disabled
                  />
                  <button type="submit" disabled class="auth-btn">Login</button>
                </form>
              </div>
            </div>

            <div class="auth-card">
              <span class="auth-text-small"
                >Don't have an account?
                <a href="/register" class="auth-link">Sign up</a>
              </span>
            </div>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
