@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  outline: 2px solid #e0e0e0;
}

html {
  scroll-behavior: smooth;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#scrollToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.material-icons {
  user-select: none;
  font-family: "Material Icons Round";
  vertical-align: middle;
}

.animate {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

body {
  background-color: #f8f9fa;
  font-family: "DM Sans", sans-serif;
}

.content {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) rotateX(20deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}

main {
  padding-top: 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Sora", sans-serif;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #000;
}

p {
  line-height: 1.8rem;
  font-size: 18px;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #646464;
  transition: color 0.3s ease;
}

a:active {
  text-decoration: none;
  color: #000;
}

.header {
  padding: 24px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results-count {
  font-size: 16px;
  color: #666;
}

.results-filters-main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 32px 16px 16px;
  gap: 20px;
}

.results-view-mode-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.result-filter {
  display: flex;
}

.result-filter--input {
  font-family: "Dm Sans", sans-serif;
  width: 160px;
  height: 35px;
  padding: 6px 10px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 14px;
}

.result-filter--input::placeholder {
  color: #646464;
}

.result-filter--clear {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  font-size: 16px;
  color: #646464;
  background-color: #fff;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  transition: color 0.1s ease;
  cursor: pointer;
}

.result-filter--clear:hover {
  color: #aaa;
}

.result-filter--input:focus {
  outline: none;
}

.results-view-btn {
  margin: 0;
  font-size: 24px;
  color: #000;
  background-color: #eee;
  border: 2px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
}

.results-view-btn:hover,
.results-view-btn:active {
  color: #000;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.results-view-btn--active {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
}

.results-view-btn--active:hover,
.results-view-btn--active:active {
  color: #fff;
  border-color: #444;
  background-color: #444;
}

.result-sort-btn {
  font-size: 24px;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  font-family: "Dm Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 2.5px 5px;
}

.result-sort-btn:hover {
  border-color: #444;
  background-color: #444;
}

.result-sort-btn p {
  font-size: 14px;
}

.result-sort-dropdown {
  margin-left: auto;
  position: relative;
}

.result-sort-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 5px);
  min-width: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

@keyframes resultSortMenu {
  from {
    opacity: 0;
    transform: translate(-50%, -20px) rotateX(20deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 5px) rotateX(0deg);
  }
}

.result-sort-content--show {
  display: flex;
  animation: resultSortMenu 0.2s ease-in-out forwards;
}

.result-sort-content--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.result-sort-content--item:hover {
  background-color: #f0f0f0;
}

.synth-tag {
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid;
}

.grid-layout--list {
  display: grid;
  grid-template-columns: 20px 4fr 3fr 2fr 1fr 20px;
  align-items: center;
  gap: 20px;
}

.result-columns {
  background-color: #fff;
  border-bottom: 2px solid #f0f0f0;
  padding: 15px 24px;
  color: #444;
}

.result-entry {
  background-color: #fff;
  padding: 15px 24px;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #f0f0f0;
  transition: background-color 0.2s ease;
}

.result-entry:nth-child(odd) {
  background-color: #fff;
}

.result-entry:hover {
  background-color: #eee;
}

.result-entry--synth-name,
.result-entry--manufacturer {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.result-entry--title-container {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 0;
}

.result-entry--img {
  width: 75px;
  height: 75px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0;
}

.result-entry--synth-name {
  font-size: 20px;
}

.result-entry--number,
.result-entry--manufacturer,
.result-entry--release-year {
  font-size: 14px;
  color: #444;
}

.open-btn {
  font-size: 16px !important;
  color: #333 !important;
}

.grid-layout--card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  gap: 20px;
}

.status {
  opacity: 0.95;
  align-items: center;
  position: absolute;
  top: 6%;
  right: 10%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid;
}

.card-entry {
  width: 100%;
  max-width: 100%;
  position: relative;
  color: inherit;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  border-bottom: 3px solid #ced4da;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-entry:hover {
  color: inherit;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-entry--info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-entry--img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.card-entry--title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-entry--manufacturer-container {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 8fr 2fr;
  align-items: center;
  overflow: hidden;
}

.card-entry--manufacturer,
.card-entry--synth-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.card-entry--manufacturer {
  width: fit-content;
  font-size: 16px;
  color: #333;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.card-entry--synth-name {
  font-size: 24px;
}

.card-entry--year-icon {
  font-size: 14px;
  color: #333;
  margin-right: 0;
}

.card-entry--year-container {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-entry--release-year {
  font-size: 12px;
  color: #444;
}

.card-entry--tag-container {
  background-color: #f1f3f5;
  border: 1px solid #e9ecef;
  width: 100%;
  height: 80px;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow: hidden;
  margin-bottom: 5px;
}

.card-entry--footer {
  display: flex;
  justify-content: space-between;
}

.card-entry--added {
  font-size: 12px;
  color: #444;
}

.card-entry--more-details {
  font-size: 12px;
  text-decoration: underline !important;
}

.hide {
  display: none;
}
