<!DOCTYPE html>
<html>
  <head>
    <title>PresetBase &mdash; Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/admin/admin.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="admin--header">
            <h1 class="heading-primary">Admin Dashboard</h1>
          </section>
          <!-- --------------------------- Submit Section ---------------------------- -->
          <section class="admin-main-container">
            <div class="admin-grid-layout">
              <a href="/admin/approvals" class="admin-card">
                <i class="fa-solid fa-file admin-card-icon"></i>
                <span class="admin-card-text">User Submissions</span>
              </a>
              <a href="/admin/upload" class="admin-card">
                <i class="fa-solid fa-upload admin-card-icon"></i>
                <span class="admin-card-text">Upload</span>
              </a>
              <a href="/admin/manage-db" class="admin-card">
                <i class="fa-solid fa-database admin-card-icon"></i>
                <span class="admin-card-text">Manage Database</span>
              </a>
              <a href="/admin/manage-users" class="admin-card">
                <i class="fa-solid fa-users admin-card-icon"></i>
                <span class="admin-card-text">Manage Users</span>
              </a>
              <a href="/admin/tag-editor" class="admin-card">
                <i class="fa-solid fa-tag admin-card-icon"></i>
                <span class="admin-card-text">Tag Editor</span>
              </a>
              <a href="/admin/announcements" class="admin-card">
                <i class="fa-solid fa-bullhorn admin-card-icon"></i>
                <span class="admin-card-text">Site Announcements</span>
              </a>
            </div>
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
