<!DOCTYPE html>
<html>
  <head>
    <title>Manage Database</title>
    <script type="module" src="/js/admin/manage-db.js" defer></script>
    <link rel="stylesheet" href="/styles/admin/manage-db.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <main class="container">
          <section class="manage-db--header">
            <div class="manage-db-header--top">
              <h1 class="heading-primary">Manage Database</h1>
            </div>
            <div class="manage-db-header--bottom-container">
              <div class="manage-db--table-select-container">
                <select name="table-select" class="manage-db--table-select">
                  <option value="albums">Albums</option>
                  <option value="artists">Artists</option>
                  <option value="presets">Presets</option>
                  <option value="songs" selected>Songs</option>
                  <option value="synths">Synths</option>
                </select>
                <i class="fa-solid fa-arrow-down download-icon"></i>
              </div>
              <div class="manage-db-header--bottom">
                <div class="manage-db-result-filter--container">
                  <div class="manage-db-result-filter">
                    <input
                      type="text"
                      placeholder="Filter Entries"
                      class="manage-db-filter--input"
                    />
                    <i class="fa-solid fa-xmark result-filter--clear"></i>
                  </div>
                </div>
                <div class="manage-db--select-container">
                  <select name="sort" class="manage-db--sort-select">
                    <option value="" selected disabled hidden>Sort</option>
                    <option value="title">Title</option>
                    <option value="genre">Genre</option>
                    <option value="year">Release Year</option>
                    <option value="timestamp">Added Date</option>
                  </select>
                  <i class="fa-solid fa-sort sort-icon"></i>
                </div>
              </div>
            </div>
          </section>

          <div id="slideout-backdrop" class="slideout-backdrop hidden"></div>

          <aside id="slideout-panel" class="slideout hidden">
            <header id="slideout-header" class="slideout-header">
              <h2 id="slideout-title" class="heading-secondary"></h2>
              <button id="slideout-close-btn" class="close-btn">
                <i class="fa-solid fa-xmark slide-out-icon"></i>
              </button>
            </header>
            <div id="slideout-content" class="slideout-content">
              <div class="slideout-entry-info-container">
                <div class="slideout-entry-info-top-container"></div>
                <div class="slideout-entry-info-input-container"></div>
              </div>
              <hr class="slideout-entry-info--hr" />
              <div id="slideout-actions" class="slideout-entry-info-actions">
                <div id="slideout-actions-btns" class="btn-container"></div>
                <div id="slideout-actions-hint" class="input-hint hidden"></div>
              </div>
            </div>
          </aside>

          <section class="entry-list--container"></section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
