<nav class="admin-breadcrumb">
  <ul>
    <% breadcrumbs.forEach((item, index) => { %>
    <li>
      <% if (index < breadcrumbs.length - 1) { %>
      <a href="<%= item.href %>"><%= item.label %></a>
      <% } else { %>
      <span class="breadcrumb-active"><%= item.label %></span>
      <% } %>
    </li>
    <% }); %>
  </ul>
</nav>
