<div class="announcement-container">
  <i class="fa-solid fa-circle-info announcement-icon"></i>
  <div class="announcement-content">
    <span class="announcement-title"><%= announcement.title %></span>
    <span class="announcement-text"><%= announcement.description %></span>
  </div>
</div>
