<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-left">
      <a href="/">
        <img
          src="/assets/images/footer-logo.webp"
          alt="PresetBase Logo"
          class="footer-logo"
        />
      </a>
      <span class="footer-site-name">PresetBase</span>
      <p class="footer-site-desc">
        Browse synth presets used across thousands of songs, artists, and
        albums. The largest community-sourced synth preset database on the
        internet.
      </p>
    </div>

    <div class="footer-social-icons">
      <a href="#" target="_blank">
        <i class="fa-brands fa-x-twitter footer-social-icon"></i>
      </a>
      <a href="#" target="_blank">
        <i class="fa-brands fa-youtube footer-social-icon"></i>
      </a>
      <a href="#" target="_blank">
        <i class="fa-brands fa-instagram footer-social-icon"></i>
      </a>
      <a href="https://github.com/k0src/presetbase" target="_blank">
        <i class="fa-brands fa-github footer-social-icon"></i>
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 PresetBase. All rights reserved.</p>
    <div class="footer-policy-links">
      <a href="/privacy-policy" class="footer-policy-link">Privacy Policy</a>
      <a href="#" class="footer-policy-link">Terms of Service</a>
      <a href="#" class="footer-policy-link">Cookies Settings</a>
    </div>
  </div>
</footer>
