<nav class="navbar">
  <div class="navbar-left">
    <a href="/"
    ><img
    src="/assets/images/logo-app.webp"
    alt="PresetBase Nav Logo"
    class="navbar-logo"
    /></a>
    <div class="navbar-link--container">
      <a href="/browse" class="navbar-link 
      <%= PATH_URL === "browse" ? "navbar-link--active" : "" %>">Browse</a>
      <a href="/stats" class="navbar-link
      <%= PATH_URL === "stats" ? "navbar-link--active" : "" %>">Stats</a>
      <a href="/about-us" class="navbar-link
      <%= PATH_URL === "about" ? "navbar-link--active" : "" %>">About</a>
      <a href="/submit" class="navbar-link
      <%= PATH_URL === "submit" ? "navbar-link--active" : "" %>">Submit</a>
    </div>
  </div>
  <div class="navbar-right">
    <div class="navbar-search--container">
      <i class="fa-solid fa-magnifying-glass navbar-search--icon"></i>
      <input
        class="navbar-search--input"
        type="text"
        placeholder="Search database..."
        type="search" 
        enterkeyhint="search" 
      />
      <ul class="autocomplete-dropdown--nav hidden"></ul>
      <div class="navbar-search--shortcut">
        <span class="navbar-search--shortcut--text">ctrl</span>
        <span class="navbar-search--shortcut--text">K</span>
      </div>
    </div>
    <a href="https://github.com/k0src/presetbase" target="_blank">
      <i class="fa-brands fa-github navbar--icon"></i>
    </a>
    <% if (isAuth) { %>
      <a href="/account-info">
        <i class="fa-solid fa-circle-user navbar--icon"></i>
      </a>
    <% } else { %>
      <a href="/login">
        <i class="fa-solid fa-circle-user navbar--icon"></i>
      </a>
    <% } %>
  </div>

  <button class="button-mobile-nav">
    <i class="fa-solid fa-bars navbar--icon"></i>
    <i class="fa-solid fa-xmark navbar--icon hidden"></i>
  </button>
</nav>

<!-- ----------------------------- Mobile Nav ------------------------------ -->
<div class="mobile-nav">
  <a href="/browse" class="mobile-nav-link">Browse</a>
  <a href="/stats" class="mobile-nav-link">Stats</a>
  <a href="/about-us" class="mobile-nav-link">About</a>
  <a href="/submit" class="mobile-nav-link">Submit</a>
  <input 
    type="text" 
    class="mobile-nav-search-input"
    placeholder="Search..." 
    type="search" 
    enterkeyhint="search" 
  />
</div>
