<div class="navbar-container">
  <nav class="navbar">
    <div class="navbar-left">
      <a href="/"
        ><img src="/assets/logo.png" alt="presetbase logo" class="logo"
      /></a>
    </div>
    <div class="navbar-right">
      <a href="#" class="nav-link"
        ><span class="material-icons">dataset</span>browse</a
      >
      <a href="#" class="nav-link"
        ><span class="material-icons">leaderboard</span>stats</a
      >
      <a href="#" class="nav-link"
        ><span class="material-icons">publish</span>submit</a
      >
      <a
        href="https://github.com/k0src/presetbase"
        target="_blank"
        class="nav-link"
        ><span class="material-icons">folder</span>github</a
      >
      <div class="nav-search-bar">
        <input type="text" placeholder="search..." class="nav-search-input" />
        <button class="nav-search-button">search</button>
      </div>
    </div>
    <script src="/assets/navbar.js"></script>
  </nav>
  <div class="navbar-divider"></div>
</div>
