<div id="skeleton-loader" class="skeleton-container">
  <% for (let j = 0; j < 4; j++) { %>
  <div class="skeleton-entry">
    <div class="skeleton-entry--title-container">
      <span class="skeleton-box number"></span>
      <div class="skeleton-box img"></div>
      <div class="result-entry--title">
        <span class="skeleton-box text short"></span>
        <span class="skeleton-box text long"></span>
      </div>
    </div>
    <span class="skeleton-box text medium"></span>
    <span class="skeleton-box tag"></span>
    <span class="skeleton-box text short"></span>
  </div>
  <% } %>
</div>
