@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Geist", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #e3e5e4;
  overflow-x: hidden;
}

html.scroll-lock,
body.scroll-lock {
  overflow: hidden !important;
  height: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}
