body {
  background-color: #171b1f;
}

.container {
  border-left: 0.2rem solid #2d343a;
  border-right: 0.2rem solid #2d343a;
  border-bottom: 0.2rem solid #2d343a;
  background-color: #202429;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

/* ------------------------------- Main styles ------------------------------ */
.browse--header {
  padding: 3.2rem 0 2.4rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.heading-primary {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}

.heading-secondary {
  color: #899096;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

.browse-view-all-link:link,
.browse-view-all-link:visited {
  color: #899096 !important;
  font-size: 1.6rem;
  transition: color 0.2s ease;
}

.browse-view-all-link:hover {
  color: #e3e5e4 !important;
}

.browse-total-results {
  color: #899096;
  font-size: 1.3rem;
}

/* -------------------------------- Headers ------------------------------- */
.chart-header,
.browse-all-header,
.top-synths-header,
.popular-header,
.latest-entry--header,
.recently-added-header,
.top-genres-header,
.top-categories-header,
.hot-songs-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 0 0.8rem 0;
}

/* --------------------------- Hot songs -------------------------- */
.hot-songs-carousel {
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  padding: 0.2rem 0;
}

.hot-songs-carousel::before,
.hot-songs-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0rem;
  pointer-events: none;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

.hot-songs-carousel.carousel-moving::before,
.hot-songs-carousel.carousel-moving::after {
  width: 2.4rem;
}

.hot-songs-carousel::before {
  left: 0;
  background: linear-gradient(to right, #202429 0%, transparent 100%);
}

.hot-songs-carousel::after {
  right: 0;
  background: linear-gradient(to left, #202429 0%, transparent 100%);
}

.hot-songs-carousel--track {
  display: flex;
  gap: 1.6rem;
  transition: transform 0.5s ease-in-out;
}

.hot-song--carousel-item {
  cursor: pointer;
  width: 36rem;
  flex-shrink: 0;
  background: #171b1f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  border-radius: 0.8rem;
  padding: 2rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.hot-song--carousel-item:hover {
  z-index: 99;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.2rem);
}

.hot-songs--img-container {
  position: relative;
}

.hot-song--img {
  width: 12.8rem;
  height: 12.8rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0.8rem;
}

.hot-songs--icon {
  width: 2.8rem;
  height: 2.8rem;
  stroke: #fff;
  stroke-width: 0.2rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-0.6rem, 0.6rem);
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.4rem;
  color: #fff;
}

.hot-song--card-right {
  padding: 0.6rem 0;
  flex: 1;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hot-song--artist,
.hot-song--title,
.hot-song--album {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.hot-song--artist {
  font-size: 1.4rem;
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
}

.hot-song--title {
  font-size: 2.8rem;
  font-weight: 600;
}

.hot-song--album {
  font-size: 1.8rem;
  line-height: 1.1;
}

.hot-song--year {
  font-size: 1.2rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
  border: 0.1rem #2d343a solid;
  background-color: #202429;
}

/* ------------------------------ Carousel Nav ------------------------------ */
.hot-songs-carousel--nav {
  display: flex;
  justify-content: center;
  padding: 1.6rem;
}

.carousel--nav-dot {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.8rem;
  border-radius: 50%;
  border: 2px solid #2d343a;
  background-color: #202429;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-dot--active {
  background-color: #2d343a;
}

/* ----------------------------- Top categories ----------------------------- */
.top-categories-header {
  padding-top: 1.6rem;
}

.browse-top-category-container {
  max-width: 100%;
  display: flex;
  gap: 1.4rem;
  justify-content: space-between;
}

.top-category-card {
  cursor: pointer;
  width: 32%;
  flex-shrink: 0;
  background: #171b1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  border-radius: 0.8rem;
  padding: 3.2rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.top-category-card:hover {
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.2rem);
}

.top-category-icon {
  font-size: 3.2rem;
  color: #899096 !important;
}

.top-category-text {
  font-size: 1.8rem;
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
}

/* ------------------------------- Browse More ------------------------------ */
.browse-more-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 3.2rem;
  gap: 3.2rem;
}

.browse-more-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.browse-more-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ------------------------------ Latest Entry ------------------------------ */
.latest-entry-container {
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  background: #171b1f;
  gap: 1.4rem;
  border-radius: 0.8rem;
  padding: 2.4rem;
  border: 0.2rem solid #2d343a;
  transition: transform 0.2s ease, box-shadow 0.3s ease;

  box-shadow: 0 0 1rem rgba(44, 44, 44, 0.1), 0 0 1.8rem rgba(0, 147, 167, 0.1),
    0 0 2.4rem rgba(196, 52, 54, 0.1), 0 0 3.2rem rgba(39, 39, 39, 0.1);
}

.latest-entry-container:hover {
  transform: translateY(-0.2rem);

  box-shadow: 0 0 1.2rem rgba(44, 44, 44, 0.15),
    0 0 2rem rgba(0, 147, 167, 0.15), 0 0 3rem rgba(196, 52, 54, 0.15),
    0 0 4rem rgba(39, 39, 39, 0.15);
}

.latest-entry--top {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 1.4rem;
  border-radius: 0.8rem;
}

.latest-entry--img-container {
  position: relative;
}

.latest-entry--added-days-ago {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-0.6rem, 0.6rem);
  border-radius: 0.8rem;
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

.latest-entry--img {
  width: 18rem;
  height: 18rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0.8rem;
}

.latest-entry--top-right {
  padding: 1.6rem 0 1.6rem;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-entry--artist,
.latest-entry--title,
.latest-entry--album,
.latest-entry--supporting-artist,
.latest-entry--year {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.latest-entry--artist {
  font-size: 1.8rem;
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
}

.latest-entry--title:link,
.latest-entry--title:visited {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.1;
}

.latest-entry--album {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 0.4rem;
  line-height: 1.2;
}

.latest-entry--supporting-artist {
  font-size: 1.6rem;
  color: #899096 !important;
}

.latest-entry--year-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.latest-entry--year-text {
  font-size: 1.6rem;
  color: #899096 !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.latest-entry--year {
  font-size: 1.4rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
  border: 0.1rem #2d343a solid;
  background-color: #202429;
}

.latest-entry--hr {
  width: 100%;
  border: 0.1rem solid #2d343a;
  border-radius: 0.4rem;
  color: #2d343a;
}

.latest-entry--bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.latest-entry--synth {
  font-size: 1.6rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  border: 0.1rem #2d343a solid;
  background-color: #202429;
}

/* ---------------- Recently added, popular songs, top synths --------------- */
.top-synths-header,
.popular-header {
  padding-top: 3.2rem;
}

.top-synths-container,
.popular-songs-container,
.recently-added-songs-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.2rem;
}

.top-synths--entry,
.popular--entry,
.recently-added--entry {
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
  background: #171b1f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  border-radius: 0.8rem;
  padding: 1.8rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.top-synths--entry:hover,
.popular--entry:hover,
.recently-added--entry:hover {
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.2rem);
}

.top-synths--img-container,
.popular--img-container {
  position: relative;
}

.top-synths--img,
.popular--img,
.recently-added--img {
  width: 9.6rem;
  height: 9.6rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0.8rem;
}

.popular--icon {
  background: #0093a7;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2),
    0 0 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 2.8rem;
  height: 2.8rem;
  stroke: #fff;
  stroke-width: 0.2rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-0.6rem, 0.6rem);
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.4rem;
  color: #fff;
}

.top-synths--card-right,
.popular--card-right,
.recently-added--card-right {
  padding: 0.2rem 0;
  flex: 1;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-synths--manufacturer,
.top-synths--name,
.top-synths--presets,
.top-synths--year,
.popular--artist,
.popular--title,
.popular--album,
.popular--year,
.recently-added--artist,
.recently-added--year,
.recently-added--title,
.recently-added--album {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.top-synths--manufacturer,
.popular--artist,
.recently-added--artist {
  font-size: 1.2rem;
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
}

.top-synths--name,
.popular--title,
.recently-added--title {
  font-size: 2rem;
  font-weight: 600;
}

.top-synths--presets,
.popular--album,
.recently-added--album {
  font-size: 1.4rem;
  line-height: 1.1;
}

.top-synths--year,
.popular--year,
.recently-added--year {
  font-size: 1.1rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
  border: 0.1rem #2d343a solid;
  background-color: #202429;
}

/* ------------------------------- Top Genres ------------------------------- */
.top-genres-container {
  overflow: hidden;
  background-color: #2d343a;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  padding: 2.4rem 2rem;
  column-gap: 1.2rem;
  row-gap: 2rem;
  justify-items: center;
  align-items: center;
}

.top-genres-header {
  padding-top: 3.2rem;
}

.top-genres--entry {
  display: flex;
  min-width: 0;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: max-content;
  gap: 1.4rem;
  max-width: 100%;
  overflow: hidden;
}

.top-genres--img-container {
  position: relative;
}

.top-genres--img {
  width: 14rem;
  height: 14rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
  filter: brightness(0.2) contrast(0.72);
  -webkit-filter: brightness(0.5) contrast(0.75);
  display: block;
}

.top-genres--icon {
  position: absolute;
  font-size: 6.4rem;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  text-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.05);
}

.top-genres--title-container {
  width: 100%;
  min-width: 0;
  width: 14rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.top-genres--num-songs,
.top-genres--title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.top-genres--title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
}

.top-genres--num-songs {
  font-size: 1.3rem;
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
}

/* ------------------------------- Browse all ------------------------------- */
.browse-all-header {
  padding-top: 3.2rem;
}

.browse-all-container {
  background-color: #2d343a;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  padding: 1.4rem;
  justify-items: center;
  align-items: center;
}

.browse-all-card {
  min-width: 0;
  width: 100%;
  margin: auto;
  width: max-content;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding: 3.2rem;
  transition: color 0.2s ease;
  color: #899096 !important;
}

.browse-all-card:hover {
  color: #e3e5e4 !important;
}

.browse-all-icon {
  font-size: 3.2rem;
}

.browse-all-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* ---------------------------------- Chart --------------------------------- */
.stats-cta-btn {
  background: linear-gradient(135deg, #c43436, #0093a7);
  background-size: 200% 200%;
  color: #fff;
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.8rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: transform 0.3s ease;
  box-shadow: 0 0 1.4rem rgba(0, 147, 167, 0.25);
}

.stats-cta-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(circle, rgba(0, 147, 167, 0.5), transparent 70%);
  z-index: -1;
  opacity: 0.6;
  transition: all 0.4s ease;
}

.stats-cta-btn:hover {
  transform: scale(1.02);
}

.stats-cta-btn:hover::before {
  width: 130%;
  height: 130%;
  opacity: 0.8;
  filter: blur(15px);
}

.chart-header {
  padding-top: 3.2rem;
}

.browse-chart-container {
  width: 100%;
  height: 32rem;
  padding: 3.6rem;
  position: relative;
  flex-shrink: 0;
  background: #171b1f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.8rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0 1rem rgba(44, 44, 44, 0.1), 0 0 1.8rem rgba(0, 147, 167, 0.1),
    0 0 2.4rem rgba(196, 52, 54, 0.1), 0 0 3.2rem rgba(39, 39, 39, 0.1);
}

#synthPresetChart {
  width: 100% !important;
  height: 100% !important;
}

/* --------------------------------- Queries -------------------------------- */
@media (max-width: 68em) {
  .top-genres--img {
    width: 13rem;
    height: 13rem;
  }

  .top-synths--img,
  .popular--img,
  .recently-added--img {
    width: 9rem;
    height: 9rem;
  }
}

@media (max-width: 64em) {
  .latest-entry--title:link,
  .latest-entry--title:visited {
    font-size: 2.8rem;
  }

  .recently-added--title,
  .popular--title,
  .top-synths--name {
    font-size: 1.8rem;
  }

  .top-synths--entry,
  .popular--entry,
  .recently-added--entry {
    gap: 1.2rem;
  }

  .top-genres--entry {
    gap: 1.2rem;
  }

  .top-genres--img {
    width: 12rem;
    height: 12rem;
  }

  .top-genres--title {
    font-size: 1.8rem;
  }
}

@media (max-width: 60em) {
  .recently-added--artist,
  .top-synths--manufacturer,
  .popular--artist {
    font-size: 1.1rem;
  }

  .recently-added--album,
  .popular--album,
  .top-synths--presets {
    font-size: 1.2rem;
  }

  .top-synths--img,
  .popular--img,
  .recently-added--img {
    width: 8.4rem;
    height: 8.4rem;
  }

  .top-genres--entry {
    gap: 1.2rem;
  }

  .top-genres--img {
    width: 11rem;
    height: 11rem;
  }

  .top-genres--title {
    font-size: 1.8rem;
  }

  .top-genres--icon {
    font-size: 5.6rem;
  }
}

@media (max-width: 57em) {
  .top-synths-container,
  .popular-songs-container,
  .recently-added-songs-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .top-synths-container > :nth-child(5),
  .popular-songs-container > :nth-child(5),
  .recently-added-songs-container > :nth-child(5),
  .top-synths-container > :nth-child(6),
  .popular-songs-container > :nth-child(6),
  .recently-added-songs-container > :nth-child(6),
  .popular-songs-container > :nth-child(7),
  .popular-songs-container > :nth-child(8) {
    display: none;
  }

  .top-synths--img,
  .popular--img,
  .recently-added--img {
    width: 9.6rem;
    height: 9.6rem;
  }

  .top-synths--manufacturer,
  .popular--artist,
  .recently-added--artist {
    font-size: 1.2rem;
  }

  .top-synths--name,
  .popular--title,
  .recently-added--title {
    font-size: 2rem;
  }

  .top-synths--presets,
  .popular--album,
  .recently-added--album {
    font-size: 1.4rem;
  }

  .top-synths--year,
  .popular--year,
  .recently-added--year {
    font-size: 1.1rem;
  }

  .browse-all-text {
    font-size: 1.6rem;
  }

  .browse-all-icon {
    font-size: 3rem;
  }

  .latest-entry--img {
    width: 16rem;
    height: 16rem;
  }

  .latest-entry--top-right {
    padding: 1.8rem 0 1.6rem;
  }

  .latest-entry--title:link,
  .latest-entry--title:visited {
    font-size: 2.4rem;
  }

  .latest-entry--artist {
    font-size: 1.6rem;
  }

  .top-genres--img {
    width: 15rem;
    height: 15rem;
  }

  .top-genres--title {
    font-size: 2rem;
  }

  .top-genres-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    padding: 2.4rem 2rem;
    column-gap: 1.2rem;
    row-gap: 2rem;
  }
}

@media (max-width: 52em) {
  .browse-top-category-container {
    gap: 0;
    justify-content: space-between;
  }

  .latest-entry--year-text {
    display: none;
  }

  .top-genres--img {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 49em) {
  .top-genres--img {
    width: 13rem;
    height: 13rem;
  }
}

/* ------------------------------- One column ------------------------------- */
@media (max-width: 48em) {
  .top-synths-container,
  .popular-songs-container,
  .recently-added-songs-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .top-genres--icon {
    font-size: 6.4rem;
  }

  .top-synths--img,
  .popular--img,
  .recently-added--img {
    width: 9.6rem;
    height: 9.6rem;
  }

  .top-synths--manufacturer,
  .popular--artist,
  .recently-added--artist {
    font-size: 1.2rem;
  }

  .top-synths--name,
  .popular--title,
  .recently-added--title {
    font-size: 2rem;
  }

  .top-synths--presets,
  .popular--album,
  .recently-added--album {
    font-size: 1.4rem;
  }

  .top-synths--year,
  .popular--year,
  .recently-added--year {
    font-size: 1.1rem;
  }

  .browse-all-icon {
    font-size: 3.6rem;
  }

  .browse-all-text {
    font-size: 2rem;
  }

  .browse-more-columns {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .latest-entry--img {
    width: 20rem;
    height: 20rem;
  }

  .latest-entry--top-right {
    padding: 1.6rem 0 1.6rem;
  }

  .latest-entry--title:link,
  .latest-entry--title:visited {
    font-size: 3.6rem;
  }

  .latest-entry--artist {
    font-size: 1.8rem;
  }
  .latest-entry--year-text {
    display: block;
  }

  .browse-top-category-container {
    gap: 0;
  }

  .top-category-card {
    width: 31%;
    padding: 2.4rem;
  }

  .top-genres--img {
    width: 18rem;
    height: 18rem;
  }

  .top-genres--title {
    font-size: 2rem;
  }

  .top-genres-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 43em) {
  .top-genres--img {
    width: 16rem;
    height: 16rem;
  }
}

@media (max-width: 40em) {
  .top-genres--img {
    width: 15rem;
    height: 15rem;
  }

  .top-genres--title {
    font-size: 1.8rem;
  }
}

@media (max-width: 38em) {
  .browse-all-card {
    gap: 1.4rem;
    padding: 2.4rem;
  }

  .browse-all-icon {
    font-size: 3.2rem;
  }

  .browse-all-text {
    font-size: 1.8rem;
  }

  .latest-entry--title:link,
  .latest-entry--title:visited {
    font-size: 2.4rem;
  }

  .latest-entry--img {
    width: 18rem;
    height: 18rem;
  }

  .top-genres--img {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 35em) {
  .stats-cta-btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .top-synths--img,
  .popular--img,
  .recently-added--img {
    width: 9rem;
    height: 9rem;
  }

  .top-synths--name,
  .popular--title,
  .recently-added--title {
    font-size: 1.8rem;
  }

  .top-genres--img {
    width: 18rem;
    height: 18rem;
  }

  .top-genres--title {
    font-size: 2rem;
  }

  .top-genres-container > :nth-child(5),
  .top-genres-container > :nth-child(6) {
    display: none;
  }

  .top-genres-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .top-category-card {
    gap: 1.2rem;
  }

  .top-category-icon {
    font-size: 2.4rem;
  }

  .top-category-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 32em) {
  .top-synths-container,
  .popular-songs-container,
  .recently-added-songs-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .top-synths--img,
  .popular--img,
  .recently-added--img {
    width: 9.6rem;
    height: 9.6rem;
  }

  .top-synths--name,
  .popular--title,
  .recently-added--title {
    font-size: 2rem;
  }
}

@media (max-width: 31.5em) {
  .latest-entry--artist {
    font-size: 1.6rem;
  }

  .latest-entry--title:link,
  .latest-entry--title:visited {
    font-size: 2.2rem;
  }

  .latest-entry--album {
    font-size: 1.8rem;
  }

  .latest-entry--supporting-artist {
    font-size: 1.4rem;
  }

  .latest-entry--year-text {
    font-size: 1.4rem;
  }

  .latest-entry--synth {
    font-size: 1.4rem;
  }

  .top-genres--img {
    width: 16rem;
    height: 16rem;
  }

  .top-genres--icon {
    font-size: 5.6rem;
  }

  .top-genres--title {
    font-size: 2rem;
  }
}

@media (max-width: 30em) {
  .browse-view-all-link {
    display: none;
  }

  .browse--header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
  }

  .latest-entry--year-text {
    display: none;
  }

  .latest-entry--top {
    display: flex;
    flex-direction: column;
  }

  .latest-entry--artist {
    font-size: 1.8rem;
  }

  .latest-entry--top-right {
    padding: 0rem 0 1.6rem;
    gap: 0.6rem;
  }

  .latest-entry--title:link,
  .latest-entry--title:visited {
    font-size: 3.2rem;
  }

  .latest-entry--album {
    font-size: 2rem;
  }

  .latest-entry--img-container {
    align-self: center;
    position: relative;
  }

  .latest-entry--img {
    width: 32rem;
    height: 32rem;
  }
}

@media (max-width: 29em) {
  .browse-all-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .browse-all-icon {
    font-size: 3.2rem;
  }

  .browse-all-text {
    font-size: 2rem;
  }

  .top-genres--img {
    width: 14rem;
    height: 14rem;
  }

  .top-genres--title {
    font-size: 1.8rem;
  }
}

@media (max-width: 28em) {
  .top-synths--img,
  .popular--img,
  .recently-added--img {
    width: 9rem;
    height: 9rem;
  }

  .top-synths--name,
  .popular--title,
  .recently-added--title {
    font-size: 1.8rem;
  }

  .browse-all-icon {
    font-size: 3rem;
  }

  .browse-all-text {
    font-size: 1.8rem;
  }

  .latest-entry--img {
    width: 30rem;
    height: 30rem;
  }

  .browse-all-card {
    padding: 2rem;
  }
}

@media (max-width: 26em) {
  .latest-entry--img {
    width: 28rem;
    height: 28rem;
  }

  .top-genres--img {
    width: 12rem;
    height: 12rem;
  }

  .latest-entry--title:link,
  .latest-entry--title:visited {
    font-size: 2.4rem;
  }
}

@media (max-width: 25em) {
  .browse-total-results {
    display: none;
  }

  .top-synths--name,
  .popular--title,
  .recently-added--title {
    font-size: 1.6rem;
  }

  .latest-entry--img {
    width: 26rem;
    height: 26rem;
  }

  .latest-entry--artist {
    font-size: 1.6rem;
  }

  .latest-entry--album {
    font-size: 1.8rem;
  }

  .latest-entry--supporting-artist {
    display: none;
  }

  .latest-entry--year-container {
    display: none;
  }

  .latest-entry-container {
    padding-bottom: 0;
  }

  .latest-entry--hr,
  .latest-entry--bottom {
    display: none;
  }

  .top-genres-container {
    padding: 2rem 1.8rem;
  }

  .heading-secondary {
    font-size: 1.8rem;
  }
}

@media (max-width: 23.5em) {
  .top-genres--icon {
    font-size: 4.8rem;
  }

  .latest-entry--img {
    width: 22rem;
    height: 22rem;
  }

  .top-genres--img {
    width: 10rem;
    height: 10rem;
  }

  .top-genres--title {
    font-size: 1.8rem;
  }

  .top-genres--entry {
    gap: 1rem;
  }

  .top-genres--title-container {
    gap: 0.5rem;
  }
}

@media (max-width: 21.5em) {
  .browse-all-icon {
    font-size: 2.8rem;
  }

  .browse-all-text {
    font-size: 1.6rem;
  }

  .top-genres--title-container {
    display: none;
  }
}

@media (max-width: 21em) {
  .top-synths--year,
  .popular--year,
  .recently-added--year {
    display: none;
  }

  .top-synths--card-right,
  .popular--card-right,
  .recently-added--card-right {
    padding: 1.2rem 0;
  }

  .latest-entry--img {
    width: 20rem;
    height: 20rem;
  }

  .top-genres--title {
    font-size: 1.6rem;
  }

  .latest-entry--artist {
    font-size: 1.4rem;
  }

  .latest-entry--album {
    font-size: 1.4rem;
  }

  .top-genres--img {
    width: 9rem;
    height: 9rem;
  }
}

@media (max-width: 19.8em) {
  .top-genres-container {
    padding: 1.4rem 1.2rem;
  }

  .top-genres--img {
    width: 9rem;
    height: 9rem;
  }

  .browse-all-icon {
    font-size: 2.4rem;
  }

  .browse-all-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 19em) {
  .latest-entry--img {
    width: 16rem;
    height: 16rem;
  }

  .top-genres-container {
    padding: 1.8rem 1.6rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .top-genres--img {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 16em) {
  .latest-entry--img {
    width: 14rem;
    height: 14rem;
  }

  .top-genres--img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 80em) {
  .hot-songs-carousel,
  .hot-songs-container {
    display: none;
  }
}
