body {
  background-color: #171b1f;
}

.container {
  border-left: 0.2rem solid #2d343a;
  border-right: 0.2rem solid #2d343a;
  border-bottom: 0.2rem solid #2d343a;
  background-color: #202429;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.submit--header {
  padding: 3.2rem 0 2rem 0;
}

.heading-primary {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}

.heading-secondary {
  color: #899096;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

.red {
  color: #c25c5c !important;
}

/* ---------------------------------- Alert --------------------------------- */
.alert-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.8rem;
  justify-content: space-between;
  border: 0.2rem solid;
  padding: 1.8rem;
  border-radius: 0.8rem;
}

.error-message {
  color: #c25c5c;
  border-color: #c25c5c;
  background-color: #e1aeae;
}

.info-message {
  color: #5e8faf;
  border-color: #5e8faf;
  background-color: #dfe9ef;
}

.success-message {
  color: #70a37f;
  border-color: #70a37f;
  background-color: #e2ede5;
}

.alert-icon {
  font-size: 2.4rem;
}

.alert-text {
  font-size: 1.6rem;
  line-height: 1.2;
}

.alert-text > a {
  text-decoration: underline !important;
}

/* ---------------------------------- Form ---------------------------------- */
.submit-main-container {
  padding: 2.4rem 0;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  padding: 1.8rem;
  border: 0.2rem solid #2d343a;
  border-radius: 0.8rem;
  background-color: #171b1f;
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
}

fieldset,
legend,
label,
.form-input,
select,
.custom-file-input,
small,
input,
.checkbox-container {
  width: 100%;
}

legend {
  color: #899096;
  font-size: 1.8rem;
  padding-bottom: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

label {
  position: relative;
  display: block;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.1;
}

label:last-child {
  margin-bottom: 0;
}

.form-input,
select {
  font-family: "Geist", sans-serif;
  color: #e3e5e4;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.4rem;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.form-input[type="number"]::-webkit-inner-spin-button,
.form-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input[type="number"] {
  -moz-appearance: textfield;
}

.audio-upload-container,
.img-upload-container {
  margin-top: 1.2rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.img-upload-display {
  width: 9.6rem;
  height: 9.6rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
}

.file-input-wrapper {
  width: 100%;
}

.audio-upload--play-btn-active,
.audio-upload--play-btn {
  cursor: pointer;
  color: #899096;
  font-size: 3.2rem;
  transition: color 0.2s ease;
}

.audio-upload--play-btn-active {
  color: #e3e5e4;
}

.audio-upload--play-btn:hover {
  color: #e3e5e4;
}

.audio-upload--play-btn-active:hover {
  color: #899096;
}

.input-margin-bottom {
  margin-bottom: 1.2rem;
}

.custom-file-input {
  display: flex;
  align-items: center;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
  padding: 1rem 1.2rem;
  position: relative;
  max-width: 100%;
  gap: 0.8rem;
}

.custom-file-input .file-name {
  font-size: 1.3rem;
  color: #e3e5e4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-file-input .browse-button {
  background-color: #2d343a;
  border: none;
  color: #e3e5e4;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
}

.custom-file-input .browse-button:hover {
  background-color: #42484e;
}

.custom-file-input input[type="file"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

small {
  font-size: 1.3rem;
  display: block;
  color: #899096;
  line-height: 1.2;
}

small a {
  text-decoration: underline !important;
}

.checkbox-container {
  margin-bottom: 1.8rem;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.custom-input {
  display: none;
}

.custom-checkbox {
  min-width: 1.8rem;
  min-height: 1.8rem;
  background-color: #171b1f;
  border: 0.1rem solid #2d343a;
  border-radius: 0.2rem;
  position: relative;
}

.custom-input:checked + .custom-checkbox {
  background-color: #5a7f71;
  border-color: #5a7f71;
}

.checkbox-text {
  font-size: 1.3rem;
  user-select: none;
  color: #899096;
}

.custom-input:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  left: 0.4rem;
  top: 0;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.add-synth-btn,
.add-preset-btn,
.add-artist-btn {
  cursor: pointer;
  font-family: "Geist", sans-serif;
  font-size: 1.4rem;
  margin-top: 1.8rem;
  padding: 0.8rem 1.2rem;
  color: #e3e5e4;
  background-color: #5a7f71;
  border: none;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  align-self: center;
}

.add-synth-btn:hover,
.add-artist-btn:hover,
.add-preset-btn:hover {
  background-color: #73988a;
}

.synth-entry,
.synth-entry--new {
  display: flex;
  flex-direction: column;
}

hr {
  color: #2d343a;
  border: 0.1rem solid #2d343a;
  border-radius: 0.8rem;
}

.hr--sep {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.synth-entry--new-header,
.hr--btns {
  margin-top: 1.8rem;
}

.btn-container {
  display: flex;
  gap: 1.8rem;
}

.submit-btn,
.clear-btn {
  cursor: pointer;
  font-family: "Geist", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  color: #e3e5e4;
  border: none;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
}

.submit-btn {
  background-color: #5a7f71;
}

.clear-btn {
  background-color: #c25c5c;
}

.submit-btn:hover {
  background-color: #73988a;
}

.clear-btn:hover {
  background-color: #c86c6c;
}

/* ------------------------------- Suggestions ------------------------------ */
.input-container {
  position: relative;
  display: block;
}

.autocomplete-dropdown {
  position: absolute;
  transform-origin: top;
  list-style: none;
  background-color: #202429;
  border: 1px solid #2d343a;
  border-radius: 0.8rem;
  max-height: 30rem;
  overflow-y: auto;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.3s ease;
  z-index: 1000;
  padding: 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
}

.autocomplete-dropdown.show {
  opacity: 1;
  transform: scaleY(1);
}

.autocomplete-dropdown li {
  padding: 1.2rem;
  font-family: "Geist", sans-serif;
  font-size: 1.4rem;
  color: #899096;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: background-color 0.1s ease;
  user-select: none;
}

.autocomplete-dropdown li:hover {
  background-color: #2d343a;
}

.autocomplete-dropdown li.selected {
  background-color: #2d343a;
}

/* ---------------------------- Additional fields --------------------------- */
.synth-entry--new-header,
.preset-entry--new-header,
.artist-entry--new-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.synth-entry--new-text,
.preset-entry--new-text,
.artist-entry--new-text {
  color: #899096;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
}

.synth-entry-delete--btn,
.preset-entry-delete--btn,
.artist-entry-delete--btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem;
  background-color: #c25c5c;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  transition: background-color 0.2s ease;
}

.synth-entry-delete--icon,
.preset-entry-delete--icon,
.artist-entry-delete--icon {
  color: #e3e5e4;
  font-size: 1.2rem;
}

.synth-entry-delete--btn:hover,
.preset-entry-delete--btn:hover,
.artist-entry-delete--btn:hover {
  background-color: #c86c6c;
}

/* ----------------------------- Disabled style ----------------------------- */
.form-input:disabled,
select:disabled {
  background-color: #121417;
  border-color: #3a3f44;
  color: #777;
  cursor: not-allowed;
  opacity: 0.6;
}

.custom-file-input.disabled {
  background-color: #121417;
  border-color: #3a3f44;
  opacity: 0.6;
  pointer-events: none;
}

.custom-file-input.disabled .browse-button {
  background-color: #2a2d32;
  cursor: not-allowed;
}
