<!DOCTYPE html>
<html>
  <head>
    <title>PresetBase &mdash; Submit Example</title>
    <link rel="stylesheet" href="/styles/main/submit.css" />
    <script src="/js/main/submit/submit-example.js" defer></script>
    <%- include('../../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="submit--header">
            <h1 class="heading-primary">Submit</h1>
          </section>
          <!-- --------------------------- Submit Section ---------------------------- -->
          <section class="submit-main-container">
            <form id="entryForm">
              <legend>Song Information</legend>
              <fieldset>
                <label
                  >Song Title <span class="red">*</span>
                  <input
                    class="form-input"
                    disabled
                    type="text"
                    value="Shoota"
                  />
                  <small
                    >Provide the full title of the song. Do not include featured
                    artists or producers.</small
                  >
                </label>
                <label
                  >Genre <span class="red">*</span>
                  <input class="form-input" type="text" value="Trap" disabled />
                  <small
                    >Specify the music genre (e.g., Trap, House, Hip
                    Hop).</small
                  >
                </label>
                <label
                  >Release Year <span class="red">*</span>
                  <input
                    class="form-input"
                    type="number"
                    value="2018"
                    disabled
                  />
                  <small
                    >Enter the year the song was released (e.g., 2018).</small
                  >
                </label>
                <label
                  >Song URL <span class="red">*</span>
                  <input
                    disabled
                    class="form-input"
                    type="url"
                    value="https://www.youtube.com/watch?v=j3EwWAMWM6Q"
                  />
                  <small
                    >Paste the YouTube URL of the song. Use the official
                    artist's channel. Avoid music videos unless no official
                    audio uploads exist.</small
                  >
                </label>
                <label>
                  Song Image
                  <div class="img-upload-container">
                    <img
                      src="https://m.media-amazon.com/images/I/71orupBukTL.jpg"
                      alt="Uploaded Image"
                      class="img-upload-display"
                    />
                    <div class="file-input-wrapper">
                      <div class="custom-file-input input-margin-bottom">
                        <button type="button" class="browse-button">
                          Browse...
                        </button>
                        <span class="file-name">die-lit-full-size.jpg</span>
                        <input type="file" class="imageInput" disabled />
                      </div>
                      <small
                        >Upload the son's cover image. Leave blank to default to
                        the album cover. Minimum dimensions: 1000 x 1000
                        pixels.</small
                      >
                    </div>
                  </div>
                </label>
              </fieldset>

              <legend>Artist Information</legend>
              <fieldset id="artistSection">
                <div class="artist-entry">
                  <label
                    >Artist Name <span class="red">*</span>
                    <input
                      class="form-input"
                      type="text"
                      disabled
                      value="Playboi Carti"
                    />
                    <small>Enter the name of the artist.</small>
                  </label>
                  <label
                    >Artist Country <span class="red">*</span>
                    <input
                      class="form-input"
                      type="text"
                      disabled
                      value="USA"
                    />
                    <small>Specify the artist's country of origin.</small>
                  </label>
                  <label
                    >Artist Role <span class="red">*</span>
                    <input
                      class="form-input"
                      type="text"
                      disabled
                      value="Main"
                    />
                    <small
                      >State the artist's role on the track. Use 'Main' for
                      primary artist. Enter only one role.</small
                    >
                  </label>
                  <label>
                    Artist Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="https://i.imgur.com/x3Vkir7.jpeg"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">playboi-carti.jpg</span>
                          <input type="file" class="imageInput" disabled />
                        </div>
                        <small
                          >Upload the artist's image. Leave blank to default to
                          the album cover. Minimum dimensions: 1000 x 1000
                          pixels.</small
                        >
                      </div>
                    </div>
                  </label>
                </div>

                <div class="artist-entry">
                  <hr class="hr--sep" />
                  <div class="artist-entry--new-header">
                    <span class="artist-entry--new-text"
                      >Additional Artist</span
                    >
                    <div class="artist-entry-delete--btn">
                      <i
                        class="fa-solid fa-xmark artist-entry-delete--icon"
                      ></i>
                    </div>
                  </div>
                  <label
                    >Artist Name <span class="red">*</span>
                    <input
                      class="form-input"
                      type="text"
                      disabled
                      value="Lil Uzi Vert"
                    />
                    <small>Enter the name of the artist.</small>
                  </label>
                  <label
                    >Artist Country <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="USA"
                    />
                    <small>Specify the artist's country of origin.</small>
                  </label>
                  <label
                    >Artist role <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Feature"
                    />
                    <small
                      >State the artist's role on the track. Use 'Main' for
                      primary artist. Enter only one role.</small
                    >
                  </label>
                  <label>
                    Artist Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="https://i.imgur.com/XIBu1KG.jpeg"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">lil-uzi-vert.jpg</span>
                          <input type="file" class="imageInput" disabled />
                        </div>
                        <small
                          >Upload the artist's image. Leave blank to default to
                          the album cover. Minimum dimensions: 1000 x 1000
                          pixels.</small
                        >
                      </div>
                    </div>
                  </label>
                </div>

                <div class="artist-entry">
                  <hr class="hr--sep" />
                  <div class="artist-entry--new-header">
                    <span class="artist-entry--new-text"
                      >Additional Artist</span
                    >
                    <div class="artist-entry-delete--btn">
                      <i
                        class="fa-solid fa-xmark artist-entry-delete--icon"
                      ></i>
                    </div>
                  </div>
                  <label
                    >Artist Name <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Maaly Raw"
                    />
                    <small>Enter the name of the artist.</small>
                  </label>
                  <label
                    >Artist Country <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="USA"
                    />
                    <small>Specify the artist's country of origin.</small>
                  </label>
                  <label
                    >Artist role <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Producer"
                    />
                    <small
                      >State the artist's role on the track. Use 'Main' for
                      primary artist. Enter only one role.</small
                    >
                  </label>
                  <label>
                    Artist Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="https://i.imgur.com/fiva8ek.jpeg"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">maaly-raw.jpg</span>
                          <input type="file" class="imageInput" disabled />
                        </div>
                        <small
                          >Upload the artist's image. Leave blank to default to
                          the album cover. Minimum dimensions: 1000 x 1000
                          pixels.</small
                        >
                      </div>
                    </div>
                  </label>
                </div>

                <button type="button" class="add-artist-btn">
                  + Add Another Artist
                </button>
              </fieldset>

              <legend>Album Information</legend>
              <fieldset>
                <div class="checkbox-container">
                  <label class="checkbox-label">
                    <input type="hidden" name="single" value="no" />
                    <input
                      disabled
                      type="checkbox"
                      id="singleCheckBox"
                      class="custom-input"
                    />
                    <span class="custom-checkbox"></span>
                    <span class="checkbox-text">
                      Check this box if the song is a single (doesn't appear on
                      any albums besides possibly compilation albums).
                    </span>
                  </label>
                </div>
                <label
                  >Album Title <span class="red">*</span>
                  <input
                    class="form-input album-field"
                    disabled
                    type="text"
                    value="Die Lit"
                  />
                  <small>Provide the album's title.</small>
                </label>
                <label
                  >Genre <span class="red">*</span>
                  <input
                    class="form-input album-field"
                    disabled
                    type="text"
                    value="Trap"
                  />
                  <small>Indicate the album's genre.</small>
                </label>
                <label
                  >Release Year <span class="red">*</span>
                  <input
                    class="form-input album-field"
                    disabled
                    type="number"
                    value="2018"
                  />
                  <small>Enter the year the album was released.</small>
                </label>
                <label>
                  Album Image <span class="red">*</span>
                  <div class="img-upload-container">
                    <img
                      src="https://m.media-amazon.com/images/I/71orupBukTL.jpg"
                      alt="Uploaded Image"
                      class="img-upload-display"
                    />
                    <div class="file-input-wrapper">
                      <div class="custom-file-input input-margin-bottom">
                        <button type="button" class="browse-button">
                          Browse...
                        </button>
                        <span class="file-name">die-lit-full-size.jpg</span>
                        <input
                          type="file"
                          class="imageInput album-field"
                          disabled
                        />
                      </div>
                      <small
                        >Upload the album's cover image. Minimum dimensions:
                        1000 x 1000 pixels.</small
                      >
                    </div>
                  </div>
                </label>
              </fieldset>

              <legend>Preset Information</legend>
              <fieldset id="synthPresetSection">
                <div class="synth-entry">
                  <label
                    >Synth Name <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="ElectraX"
                    />
                    <small>Name the synth used in the track.</small>
                  </label>
                  <label
                    >Manufacturer <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Tone2"
                    />
                    <small
                      >Provide the manufacturer or developer (e.g.,
                      Spectrasonics).</small
                    >
                  </label>
                  <label
                    >Release Year <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="number"
                      value="2010"
                    />
                    <small>Enter the synth's release year.</small>
                  </label>
                  <label>
                    Synth Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="https://i.imgur.com/nH0rFyS.jpeg"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">electrax.jpg</span>
                          <input disabled type="file" class="imageInput" />
                        </div>
                        <small
                          >Upload an image of the synth. Minimum dimensions:
                          1000 x 1000 pixels.</small
                        >
                      </div>
                    </div>
                  </label>

                  <div class="preset-section">
                    <div class="preset-entry">
                      <label
                        >Preset Name <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Chosen Paths BN"
                        />
                        <small
                          >Enter the full name of the exact preset used (e.g., 2
                          Sparklepad BT, LD King of Buzz 2).</small
                        >
                      </label>
                      <label
                        >Pack Name
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Factory"
                        />
                        <small
                          >Provide the name of the preset pack. Leave blank for
                          built-in presets.</small
                        >
                      </label>
                      <label
                        >Author
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Tone2"
                        />
                        <small
                          >Identify who created the preset or preset pack. Leave
                          blank for manufacturer, for factory presets.</small
                        >
                      </label>
                      <label
                        >Usage Type <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Key"
                        />
                        <small
                          >Describe how the preset was used (e.g., Lead, Pad,
                          Sequence).</small
                        >
                      </label>
                      <label
                        >Preset Audio (Optional)
                        <div class="audio-upload-container input-margin-bottom">
                          <div class="audio-upload-btn-container">
                            <i
                              class="fa-solid fa-circle-play audio-upload--play-btn"
                            ></i>
                            <i
                              class="fa-solid fa-circle-stop audio-upload--play-btn-active hidden"
                            ></i>
                          </div>
                          <audio
                            class="uploaded-audio"
                            src="/assets/audio/submit-example/shoota-electra.mp3"
                          ></audio>
                          <div class="custom-file-input">
                            <button type="button" class="browse-button">
                              Browse...
                            </button>
                            <span class="file-name"
                              >shoota-chosen-paths.mp3</span
                            >
                            <input type="file" class="audioInput" disabled />
                          </div>
                        </div>
                        <small>
                          Upload a short audio clip (approximately 4 bars)
                          demonstrating how the preset is used in the song. The
                          clip should feature the melody played
                          <strong>without any external effects</strong
                          >.<br /><br />

                          &bull; If external effects are essential, include 4
                          bars of the <strong>wet</strong> version (with
                          effects), followed by 4 bars of the
                          <strong>dry</strong> version (without effects).<br />
                          &bull; If the same preset is used for multiple
                          melodies in the song, include all relevant sections in
                          the same clip, one after another.<br />
                          &bull; If you're unsure how to do this or find these
                          instructions unclear, you may leave this field blank.
                        </small>
                      </label>
                    </div>
                  </div>

                  <button type="button" class="add-preset-btn">
                    + Add Another Preset
                  </button>
                </div>

                <hr class="hr--btns" />

                <div class="synth-entry">
                  <div class="synth-entry--new-header">
                    <span class="synth-entry--new-text">Additional Synth</span>
                    <div class="synth-entry-delete--btn">
                      <i class="fa-solid fa-xmark synth-entry-delete--icon"></i>
                    </div>
                  </div>
                  <label
                    >Synth Name <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Nexus"
                    />
                    <small>Name the synth used in the track.</small>
                  </label>
                  <label
                    >Manufacturer <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="reFx"
                    />
                    <small
                      >Provide the manufacturer or developer (e.g.,
                      Spectrasonics).</small
                    >
                  </label>
                  <label
                    >Release Year <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="number"
                      value="2009"
                    />
                    <small>Enter the synth's release year.</small>
                  </label>
                  <label
                    >Type <span class="red">*</span>
                    <select disabled>
                      <option value="VST">VST</option>
                    </select>
                    <small>Select the synth format.</small>
                  </label>
                  <label>
                    Synth Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="https://i.imgur.com/8aQgeA2.jpeg"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">refx-nexus.jpg</span>
                          <input disabled type="file" class="imageInput" />
                        </div>
                        <small
                          >Upload an image of the synth. Minimum dimensions:
                          1000 x 1000 pixels.</small
                        >
                      </div>
                    </div>
                  </label>

                  <div class="preset-section">
                    <div class="preset-entry">
                      <label
                        >Preset Name <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="PL Pizza Cult"
                        />
                        <small
                          >Enter the full name of the exact preset used (e.g., 2
                          Sparklepad BT, LD King of Buzz 2).</small
                        >
                      </label>
                      <label
                        >Pack Name
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Factory"
                        />
                        <small
                          >Provide the name of the preset pack. Leave blank for
                          built-in presets.</small
                        >
                      </label>
                      <label
                        >Author
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="reFx"
                        />
                        <small
                          >Identify who created the preset or preset pack. Leave
                          blank for manufacturer, for factory presets.</small
                        >
                      </label>
                      <label
                        >Usage Type <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Pluck"
                        />
                        <small
                          >Describe how the preset was used (e.g., Lead, Pad,
                          Sequence).</small
                        >
                      </label>
                      <label
                        >Preset Audio (Optional)
                        <div class="audio-upload-container input-margin-bottom">
                          <div class="audio-upload-btn-container">
                            <i
                              class="fa-solid fa-circle-play audio-upload--play-btn"
                            ></i>
                            <i
                              class="fa-solid fa-circle-stop audio-upload--play-btn-active hidden"
                            ></i>
                          </div>
                          <audio
                            class="uploaded-audio"
                            src="/assets/audio/submit-example/shoota-nexus-pizz.mp3"
                          ></audio>
                          <div class="custom-file-input">
                            <button type="button" class="browse-button">
                              Browse...
                            </button>
                            <span class="file-name">shoota-pizza-cult.mp3</span>
                            <input type="file" class="audioInput" disabled />
                          </div>
                        </div>
                        <small>
                          Upload a short audio clip (approximately 4 bars)
                          demonstrating how the preset is used in the song. The
                          clip should feature the melody played
                          <strong>without any external effects</strong
                          >.<br /><br />

                          &bull; If external effects are essential, include 4
                          bars of the <strong>wet</strong> version (with
                          effects), followed by 4 bars of the
                          <strong>dry</strong> version (without effects).<br />
                          &bull; If the same preset is used for multiple
                          melodies in the song, include all relevant sections in
                          the same clip, one after another.<br />
                          &bull; If you're unsure how to do this or find these
                          instructions unclear, you may leave this field blank.
                        </small>
                      </label>
                    </div>
                  </div>

                  <button type="button" class="add-preset-btn">
                    + Add Another Preset
                  </button>
                </div>

                <hr class="hr--btns" />

                <div class="synth-entry">
                  <div class="synth-entry--new-header">
                    <span class="synth-entry--new-text">Additional Synth</span>
                    <div class="synth-entry-delete--btn">
                      <i class="fa-solid fa-xmark synth-entry-delete--icon"></i>
                    </div>
                  </div>
                  <label
                    >Synth Name <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Omnisphere"
                    />
                    <small>Name the synth used in the track.</small>
                  </label>
                  <label
                    >Manufacturer <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Spectrasonics"
                    />
                    <small
                      >Provide the manufacturer or developer (e.g.,
                      Spectrasonics).</small
                    >
                  </label>
                  <label
                    >Release Year <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="number"
                      value="2008"
                    />
                    <small>Enter the synth's release year.</small>
                  </label>
                  <label
                    >Type <span class="red">*</span>
                    <select disabled>
                      <option value="VST">VST</option>
                    </select>
                    <small>Select the synth format.</small>
                  </label>
                  <label>
                    Synth Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="https://i.imgur.com/rfOuT0L.jpeg"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">omnisphere.jpg</span>
                          <input disabled type="file" class="imageInput" />
                        </div>
                        <small
                          >Upload an image of the synth. Minimum dimensions:
                          1000 x 1000 pixels.</small
                        >
                      </div>
                    </div>
                  </label>

                  <div class="preset-section">
                    <div class="preset-entry">
                      <label
                        >Preset Name <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="House Piano Dark"
                        />
                        <small
                          >Enter the full name of the exact preset used (e.g., 2
                          Sparklepad BT, LD King of Buzz 2).</small
                        >
                      </label>
                      <label
                        >Pack Name
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Factory"
                        />
                        <small
                          >Provide the name of the preset pack. Leave blank for
                          built-in presets.</small
                        >
                      </label>
                      <label
                        >Author
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Spectrasonics"
                        />
                        <small
                          >Identify who created the preset or preset pack. Leave
                          blank for manufacturer, for factory presets.</small
                        >
                      </label>
                      <label
                        >Usage Type <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Key"
                        />
                        <small
                          >Describe how the preset was used (e.g., Lead, Pad,
                          Sequence).</small
                        >
                      </label>
                      <label
                        >Preset Audio (Optional)
                        <div class="audio-upload-container input-margin-bottom">
                          <div class="audio-upload-btn-container">
                            <i
                              class="fa-solid fa-circle-play audio-upload--play-btn"
                            ></i>
                            <i
                              class="fa-solid fa-circle-stop audio-upload--play-btn-active hidden"
                            ></i>
                          </div>
                          <audio
                            class="uploaded-audio"
                            src="/assets/audio/submit-example/shoota-omni-pn-dark.mp3"
                          ></audio>
                          <div class="custom-file-input">
                            <button type="button" class="browse-button">
                              Browse...
                            </button>
                            <span class="file-name"
                              >shoota-house-pn-dark.mp3</span
                            >
                            <input type="file" class="audioInput" disabled />
                          </div>
                        </div>
                        <small>
                          Upload a short audio clip (approximately 4 bars)
                          demonstrating how the preset is used in the song. The
                          clip should feature the melody played
                          <strong>without any external effects</strong
                          >.<br /><br />

                          &bull; If external effects are essential, include 4
                          bars of the <strong>wet</strong> version (with
                          effects), followed by 4 bars of the
                          <strong>dry</strong> version (without effects).<br />
                          &bull; If the same preset is used for multiple
                          melodies in the song, include all relevant sections in
                          the same clip, one after another.<br />
                          &bull; If you're unsure how to do this or find these
                          instructions unclear, you may leave this field blank.
                        </small>
                      </label>
                    </div>

                    <div class="preset-entry">
                      <hr class="hr--sep" />
                      <div class="preset-entry--new-header">
                        <span class="preset-entry--new-text"
                          >Additional Preset</span
                        >
                        <div class="preset-entry-delete--btn">
                          <i
                            class="fa-solid fa-xmark preset-entry-delete--icon"
                          ></i>
                        </div>
                      </div>
                      <label
                        >Preset Name <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Electric Asian Fireflies"
                        />
                        <small
                          >Enter the full name of the exact preset used (e.g., 2
                          Sparklepad BT, LD King of Buzz 2).</small
                        >
                      </label>
                      <label
                        >Pack Name
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Factory"
                        />
                        <small
                          >Provide the name of the preset pack. Leave blank for
                          built-in presets.</small
                        >
                      </label>
                      <label
                        >Author
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Spectrasonics"
                        />
                        <small
                          >Identify who created the preset or preset pack. Leave
                          blank for manufacturer, for factory presets.</small
                        >
                      </label>
                      <label
                        >Usage Type <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Synth"
                        />
                        <small
                          >Describe how the preset was used (e.g., Lead, Pad,
                          Sequence).</small
                        >
                      </label>
                      <label
                        >Preset Audio (Optional)
                        <div class="audio-upload-container input-margin-bottom">
                          <div class="audio-upload-btn-container">
                            <i
                              class="fa-solid fa-circle-play audio-upload--play-btn"
                            ></i>
                            <i
                              class="fa-solid fa-circle-stop audio-upload--play-btn-active hidden"
                            ></i>
                          </div>
                          <audio
                            class="uploaded-audio"
                            src="/assets/audio/submit-example/shoota-omni-asian.mp3"
                          ></audio>
                          <div class="custom-file-input">
                            <button type="button" class="browse-button">
                              Browse...
                            </button>
                            <span class="file-name"
                              >shoota-asian-electric.mp3</span
                            >
                            <input type="file" class="audioInput" disabled />
                          </div>
                        </div>
                        <small>
                          Upload a short audio clip (approximately 4 bars)
                          demonstrating how the preset is used in the song. The
                          clip should feature the melody played
                          <strong>without any external effects</strong
                          >.<br /><br />

                          &bull; If external effects are essential, include 4
                          bars of the <strong>wet</strong> version (with
                          effects), followed by 4 bars of the
                          <strong>dry</strong> version (without effects).<br />
                          &bull; If the same preset is used for multiple
                          melodies in the song, include all relevant sections in
                          the same clip, one after another.<br />
                          &bull; If you're unsure how to do this or find these
                          instructions unclear, you may leave this field blank.
                        </small>
                      </label>
                    </div>
                  </div>

                  <button type="button" class="add-preset-btn">
                    + Add Another Preset
                  </button>
                </div>

                <hr class="hr--btns" />

                <div class="synth-entry">
                  <div class="synth-entry--new-header">
                    <span class="synth-entry--new-text">Additional Synth</span>
                    <div class="synth-entry-delete--btn">
                      <i class="fa-solid fa-xmark synth-entry-delete--icon"></i>
                    </div>
                  </div>
                  <label
                    >Synth Name <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="FL Keys"
                    />
                    <small>Name the synth used in the track.</small>
                  </label>
                  <label
                    >Manufacturer <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="text"
                      value="Image-Line"
                    />
                    <small
                      >Provide the manufacturer or developer (e.g.,
                      Spectrasonics).</small
                    >
                  </label>
                  <label
                    >Release Year <span class="red">*</span>
                    <input
                      class="form-input"
                      disabled
                      type="number"
                      value="2001"
                    />
                    <small>Enter the synth's release year.</small>
                  </label>
                  <label
                    >Type <span class="red">*</span>
                    <select disabled>
                      <option value="VST">VST</option>
                    </select>
                    <small>Select the synth format.</small>
                  </label>
                  <label>
                    Synth Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="https://i.imgur.com/irGLsIt.jpeg"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">fl-keys.jpg</span>
                          <input disabled type="file" class="imageInput" />
                        </div>
                        <small
                          >Upload an image of the synth. Minimum dimensions:
                          1000 x 1000 pixels.</small
                        >
                      </div>
                    </div>
                  </label>

                  <div class="preset-section">
                    <div class="preset-entry">
                      <label
                        >Preset Name <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Default"
                        />
                        <small
                          >Enter the full name of the exact preset used (e.g., 2
                          Sparklepad BT, LD King of Buzz 2).</small
                        >
                      </label>
                      <label
                        >Pack Name
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Factory"
                        />
                        <small
                          >Provide the name of the preset pack. Leave blank for
                          built-in presets.</small
                        >
                      </label>
                      <label
                        >Author
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Image-Line"
                        />
                        <small
                          >Identify who created the preset or preset pack. Leave
                          blank for manufacturer, for factory presets.</small
                        >
                      </label>
                      <label
                        >Usage Type <span class="red">*</span>
                        <input
                          class="form-input"
                          disabled
                          type="text"
                          value="Piano"
                        />
                        <small
                          >Describe how the preset was used (e.g., Lead, Pad,
                          Sequence).</small
                        >
                      </label>
                      <label
                        >Preset Audio (Optional)
                        <div class="audio-upload-container input-margin-bottom">
                          <div class="audio-upload-btn-container">
                            <i
                              class="fa-solid fa-circle-play audio-upload--play-btn"
                            ></i>
                            <i
                              class="fa-solid fa-circle-stop audio-upload--play-btn-active hidden"
                            ></i>
                          </div>
                          <audio
                            class="uploaded-audio"
                            src="/assets/audio/submit-example/shoota-fl-keys.mp3"
                          ></audio>
                          <div class="custom-file-input">
                            <button type="button" class="browse-button">
                              Browse...
                            </button>
                            <span class="file-name">shoota-fl-keys.mp3</span>
                            <input type="file" class="audioInput" disabled />
                          </div>
                        </div>
                        <small>
                          Upload a short audio clip (approximately 4 bars)
                          demonstrating how the preset is used in the song. The
                          clip should feature the melody played
                          <strong>without any external effects</strong
                          >.<br /><br />

                          &bull; If external effects are essential, include 4
                          bars of the <strong>wet</strong> version (with
                          effects), followed by 4 bars of the
                          <strong>dry</strong> version (without effects).<br />
                          &bull; If the same preset is used for multiple
                          melodies in the song, include all relevant sections in
                          the same clip, one after another.<br />
                          &bull; If you're unsure how to do this or find these
                          instructions unclear, you may leave this field blank.
                        </small>
                      </label>
                    </div>
                  </div>

                  <button type="button" class="add-preset-btn">
                    + Add Another Preset
                  </button>
                </div>

                <hr class="hr--btns" />

                <button type="button" class="add-synth-btn">
                  + Add Another Synth
                </button>
              </fieldset>

              <div class="btn-container">
                <div class="submit-btn--example">Submit Entry</div>
                <div class="clear-btn--example">Clear form</div>
              </div>
            </form>
          </section>
        </main>
      </div>
      <%- include('../../partials/footer') %>
    </div>
  </body>
  <%- include('../../partials/scroll-to-top') %>
</html>
