.statsHeader {
  padding: 3.2rem 0 2.4rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.headingPrimary {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}

.headingSecondary {
  color: #899096;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

.chartsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.chartsContainerTop {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 0.8rem;
}

.barCharts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.8rem;
}

.chartsLeft {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.chartsRight {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.sparkLineCharts {
  display: flex;
  gap: 0.8rem;
}

.chartTitleWrapper {
  display: flex;
  flex-direction: column;
  background: #171b1f;
  border: 0.1rem solid #2d343a;
  border-radius: 0.8rem;
  padding: 1.8rem;
  gap: 0.8rem;
  transition: background-color 0.2s ease;
}

.chartTitleWrapper:hover {
  background-color: #15181c;
}

.chartTitle {
  font-size: 1.4rem;
  color: #899096;
}

.chartContainer {
  width: 100%;
}
