.statsHeader {
  padding: 3.2rem 0 2.4rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.headingPrimary {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}

.headingSecondary {
  color: #899096;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

.textCentered {
  text-align: center;
}

.statsHeaderSecondaryLink {
  padding: 3.2rem 0 0.8rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.statsLink {
  color: #899096 !important;
  font-size: 1.6rem;
  transition: color 0.2s ease;
}

.statsLink:hover {
  color: #e3e5e4 !important;
}

.statsHeaderSecondary {
  padding: 3.2rem 0 0.8rem 0;
}

.wideChartContainer {
  width: 100%;
  padding: 3.6rem;
  position: relative;
  flex-shrink: 0;
  background: #171b1f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.8rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
}

.communityStatsContainer,
.synthChartsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3.2rem;
}
