body {
  background-color: #171b1f;
}

.container {
  border-left: 0.2rem solid #2d343a;
  border-right: 0.2rem solid #2d343a;
  border-bottom: 0.2rem solid #2d343a;
  background-color: #202429;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.admin--header {
  padding: 3.2rem 0 3.2rem 0;
}

.heading-primary {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}

.heading-secondary {
  color: #899096;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

/* ------------------------------- Main Styles ------------------------------ */
.admin-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 1.2rem;
}

.admin-card {
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
  background: #171b1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  border-radius: 0.8rem;
  padding: 2.4rem 1.8rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: #899096 !important;
}

.admin-card:hover {
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.2rem);
}

.admin-card-icon {
  font-size: 3.2rem;
}

.admin-card-text {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1;
}

/* --------------------------------- Queries -------------------------------- */
@media (max-width: 40em) {
  .admin-card-text {
    font-size: 1.4rem;
  }

  .admin-card-icon {
    font-size: 2.8rem;
  }

  .admin-card {
    padding: 2rem 1.4rem;
  }
}

@media (max-width: 32em) {
  .admin-card-text {
    font-size: 1.8rem;
  }

  .admin-card-icon {
    font-size: 3.2rem;
  }

  .admin-card {
    padding: 2.4rem 1.8rem;
  }

  .admin-grid-layout {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
}

@media (max-width: 25em) {
  .admin-card-text {
    font-size: 1.4rem;
  }

  .admin-card-icon {
    font-size: 2.8rem;
  }

  .admin-card {
    padding: 2rem 1.4rem;
  }
}
