@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  outline: 2px solid #e0e0e0;
}

html {
  scroll-behavior: smooth;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#scrollToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.material-icons {
  user-select: none;
  font-family: "Material Icons Round";
  vertical-align: middle;
}

body {
  background-color: #f8f9fa;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 48px;
}

.content {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.animate {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) rotateX(20deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}

main {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Sora", sans-serif;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #000;
}

p {
  line-height: 1.8rem;
  font-size: 18px;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #646464;
  transition: color 0.3s ease;
}

a:active {
  text-decoration: none;
  color: #000;
}

.header {
  padding: 24px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
/*                                 Form styles                                */
/* -------------------------------------------------------------------------- */

form {
  margin: auto;
  padding: 32px 32px 0 32px;
}

fieldset {
  border: none;
  margin-bottom: 24px;
  padding: 12px 0;
  border-top: 2px solid #ddd;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 12px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  font-size: 16px;
}

.red {
  color: #c92a2a;
}

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.submit-btn {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
}

/* --------------------------------- Buttons -------------------------------- */

.approve-btn {
  background-color: #51cf66;
  color: #ebfbee;
  border: 1px solid #2b8a3e;
}

.approve-btn:hover,
.approve-btn:active {
  background-color: #69db7c;
}

.deny-btn {
  background-color: #fa5252;
  color: #fff5f5;
  border: 1px solid #c92a2a;
}

.deny-btn:hover,
.deny-btn:active {
  background-color: #ff6b6b;
}

/* ---------------------------------- Util ---------------------------------- */

.hide {
  display: none;
}
