body {
  background-color: #171b1f;
}

.container {
  border-left: 0.2rem solid #2d343a;
  border-right: 0.2rem solid #2d343a;
  border-bottom: 0.2rem solid #2d343a;
  background-color: #202429;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

/* ------------------------------- Main Styles ------------------------------ */
.manage-db--header {
  padding: 3.2rem 0 2rem 0;
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.heading-primary {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}

.heading-secondary {
  color: #899096;
  font-size: 2rem;
  font-weight: 600;
}

.manage-db-header--top {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.tables-count {
  color: #899096;
  font-size: 1.3rem;
}

.manage-db-header--bottom-container {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.manage-db--table-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}

.manage-db--table-select {
  font-family: "Geist", sans-serif;
  font-size: 1.4rem;
  color: #899096;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  flex: 1;
  width: 100%;
}

.manage-db-header--bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manage-db-result-filter--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}

.manage-db-result-filter {
  display: flex;
  align-items: center;
  background-color: #171b1f;
  border: 2px solid #2d343a;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  min-width: 2.4rem;
  position: relative;
}

.manage-db-filter--input {
  font-family: "Geist", sans-serif;
  font-size: 1.3rem;
  color: #899096;
  background-color: transparent;
  border: none;
  flex: 1;
  padding: 0.8rem 0;
}

.result-filter--clear {
  cursor: pointer;
  font-size: 1.4rem;
  color: #899096;
  transition: color 0.2s ease;
}

.result-filter--clear:hover {
  color: #e3e5e4;
}

.manage-db--select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.manage-db--sort-select {
  font-family: "Geist", sans-serif;
  font-size: 1.4rem;
  color: #899096;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
  padding: 0.4rem 1.6rem;
  flex: 1;
}

.download-icon {
  color: #899096;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.sort-icon {
  color: #899096;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.download-icon:hover,
.sort-icon:hover {
  color: #e3e5e4 !important;
}

/* ------------------------------ Grid Layouts ------------------------------ */
.grid-layout--songs {
  display: grid;
  grid-template-columns: 2rem 100fr 75fr 50fr 100fr 100fr 75fr 2rem;
  align-items: center;
  gap: 1.4rem;
}

.grid-layout--artists {
  display: grid;
  grid-template-columns: 2rem 100fr 50fr 100fr 75fr 2rem;
  align-items: center;
  gap: 1.4rem;
}

.grid-layout--albums {
  display: grid;
  grid-template-columns: 2rem 100fr 75fr 50fr 100fr 100fr 75fr 2rem;
  align-items: center;
  gap: 1.4rem;
}

.grid-layout--synths {
  display: grid;
  grid-template-columns: 2rem 100fr 100fr 50fr 100fr 75fr 2rem;
  align-items: center;
  gap: 1.4rem;
}

.grid-layout--presets {
  display: grid;
  grid-template-columns: 2rem 100fr 100fr 100fr 75fr 2rem;
  align-items: center;
  gap: 1.4rem;
}

/* -------------------------------- List View ------------------------------- */
.result-columns {
  color: #899096;
  font-size: 1.3rem;
  border-top: 0.1rem solid #2d343a;
  border-bottom: 0.1rem solid #2d343a;
  padding: 1.4rem;
}

.db-entry {
  padding: 1.4rem;
  border-bottom: 0.1rem solid #2d343a;
  transition: background-color 0.2s ease;
  min-width: 0;
}

.db-entry:hover,
.db-entry:nth-child(odd):hover {
  background-color: #2d343a;
}

.db-entry:nth-child(odd) {
  background-color: #1e2227;
}

.db-entry--number,
.db-entry--primary,
.db-entry--secondary,
.db-entry--date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
}

.edit--icon {
  cursor: pointer;
  font-size: 1.6rem;
  color: #899096 !important;
  transition: color 0.2s ease;
}

.edit--icon:hover {
  color: #e3e5e4 !important;
}

.db-entry--primary {
  line-height: 1.1;
}

.db-entry--date {
  font-family: monospace;
  color: #899096 !important;
  line-height: 1.1;
  padding-top: 0.2rem;
}

.db-entry--secondary {
  color: #899096 !important;
  line-height: 1.1;
}

.hidden-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
}

/* -------------------------------- Slideout -------------------------------- */
.slideout {
  position: fixed;
  top: 0;
  right: 0;
  width: 50rem;
  max-width: 100%;
  min-width: 0;
  height: 100vh;
  background: #202429;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  z-index: 1001;
  overflow-y: auto;
  padding: 2.4rem 1.8rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.slideout-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  opacity: 1;
}

.slideout-backdrop.hidden,
.slideout.hidden {
  display: none;
}

.slideout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
  padding-bottom: 1.2rem;
}

.close-btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #899096;
  cursor: pointer;
}

.slideout-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.entry-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.entry-info-top-container {
  display: flex;
  gap: 1.2rem;
}

.entry-info-top-entry {
  display: flex;
  gap: 0.4rem;
}

.entry-info-top-text {
  font-size: 1.3rem;
  line-height: 1.1;
  color: #899096;
}

.entry-info-top-text strong {
  font-weight: 600;
}

.entry-info-input-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.entry-info-text {
  font-size: 1.6rem;
  line-height: 1.1;
}

.entry-info-input {
  font-family: "Geist", sans-serif;
  color: #e3e5e4;
  width: 100%;
  padding: 1.2rem 0.8rem;
  font-size: 1.4rem;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
}

.entry-info-input--error {
  border-color: #c25c5c !important;
}

.entry-info-input:disabled {
  background-color: #121417;
  border-color: #3a3f44;
  color: #777;
  cursor: not-allowed;
  opacity: 0.6;
}

.entry-info-btn {
  cursor: pointer;
  font-family: "Geist", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  color: #e3e5e4;
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  transition: background-color 0.2s ease;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  background-color: #5a7f71;
}

.entry-info-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.entry-info-btn:disabled:hover {
  background-color: #5a7f71;
}

.entry-info-btn:hover {
  background-color: #73988a;
}

.input-hint {
  font-size: 1.2rem;
}

.input-hint--error {
  color: #c25c5c;
}

.input-hint--success {
  color: #5a7f71;
}

.entry-info--hr {
  width: 100%;
  border: 0.1rem solid #2d343a;
  border-radius: 0.4rem;
  color: #2d343a;
}

.entry-info-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-bottom: 1.2rem;
}

.btn-container {
  display: flex;
  gap: 1.8rem;
}

.delete-btn {
  cursor: pointer;
  font-family: "Geist", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  color: #e3e5e4;
  border: none;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
}

.delete-btn {
  background-color: #c25c5c;
}

.delete-btn:hover {
  background-color: #c86c6c;
}

.delete-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.delete-btn:disabled:hover {
  background-color: #c25c5c;
}
