/* ------------------------------- Tag Editor ------------------------------- */
.tag-editor-main {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0;
  gap: 2.4rem;
}

.tag-editor-main-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  background: #171b1f;
  border-radius: 0.8rem;
  padding: 2.8rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  position: relative;
}

.tag-editor-left {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 58%;
  min-width: 0;
}

.tag-demo {
  display: block;
  user-select: none;
  font-size: 7.2rem;
  width: fit-content;
  height: fit-content;
  padding: 3.6rem 4.8rem;
  border-radius: 4.8rem;
  border: 0.8rem solid;
  color: #ff5a9c;
  border-color: #51152b;
  background-color: #3a0a1e;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  min-width: 0;
}

.tag-editor-right {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.color-picker-input,
.tag-input {
  min-width: 28rem;
  height: 3.6rem;
  padding: 0 1.2rem;
  border: 2px solid #2d343a;
  background-color: #171b1f;
  border-radius: 0.8rem;
  font-family: "Geist", sans-serif;
  font-size: 1.3rem;
  color: #899096;
}

.tag-inputs-container,
.color-pickers-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.tag-name-input-container,
.color-picker {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  justify-content: space-between;
  flex-shrink: 0;
}

.color-picker .clr-field button {
  width: 2.4rem;
  height: 2.4rem;
  right: 0.8rem;
  left: auto;
  border-radius: 0.4rem;
  border: none;
}

.tag-inputs-hr {
  color: #2d343a;
  border: 0.1rem solid #2d343a;
  border-radius: 0.8rem;
}

.tag-input-text {
  color: #899096;
  font-size: 1.4rem;
}

.tag-editor-main-bottom {
  align-self: center;
  display: flex;
  gap: 1.8rem;
}

.submit-btn,
.clear-btn {
  cursor: pointer;
  font-family: "Geist", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  color: #e3e5e4;
  border: none;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
}

.submit-btn {
  background-color: #5a7f71;
}

.clear-btn {
  background-color: #c25c5c;
}

.submit-btn:hover {
  background-color: #73988a;
}

.clear-btn:hover {
  background-color: #c86c6c;
}

.editing-mode-icon {
  top: 1.4rem;
  left: 1.4rem;
  position: absolute;
  font-size: 1.8rem;
}

/* -------------------------------- Tag List -------------------------------- */
.tag-list-section {
  padding-bottom: 4.8rem;
}

.tag-list-header {
  padding-top: 1.6rem;
}

.tag-entry-columns {
  color: #899096;
  font-size: 1.3rem;
  border-top: 0.1rem solid #2d343a;
  border-bottom: 0.1rem solid #2d343a;
  padding: 1.4rem;
}

.grid-layout-tags {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr 3.2rem 3.2rem;
  align-items: center;
  gap: 1.4rem;
}

.list-entry {
  padding: 1.2rem;
  border-bottom: 0.1rem solid #2d343a;
}

.list-entry:nth-child(odd) {
  background-color: #1e2227;
}

.--tag,
.list-entry--number,
.list-entry--slug,
.list-entry--color,
.list-entry--icon {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
}

.--tag {
  user-select: none;
  font-size: 1.4rem;
  width: fit-content;
  height: fit-content;
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid;
}

.list-entry--color {
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.2s ease;
}

.hidden-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
}

.list-entry--icon {
  color: #899096 !important;
  font-size: 1.6rem;
  transition: color 0.2s ease;
}

.list-entry--icon:hover {
  color: #e3e5e4 !important;
}
