.colorPickerContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.labelText {
  font-size: 1.6rem;
  line-height: 1.1;
}

.colorPicker {
  width: 14rem !important;
  height: 14rem !important;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
}

.colorPicker :global(.react-colorful__saturation) {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.colorPicker :global(.react-colorful__hue) {
  height: 1.8rem;
  border-bottom-left-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

.colorPicker :global(.react-colorful__saturation-pointer),
.colorPicker :global(.react-colorful__hue-pointer) {
  width: 2.2rem;
  height: 2.2rem;
  border-color: #e3e5e4;
}

.colorInput {
  width: 14rem;
  font-family: "Geist", sans-serif;
  color: #e3e5e4;
  padding: 0.8rem 0.8rem;
  font-size: 1.2rem;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
}
