.infoSection {
  display: flex;
  gap: 1rem;
}

.infoEntry {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.infoText {
  font-size: 1.3rem;
  line-height: 1.1;
  color: #899096;
}

.bullet {
  font-size: 1.6rem;
  line-height: 1.1;
  color: #899096;
  display: flex;
  align-items: center;
}
