.entryContainer {
  overflow: hidden;
  min-width: 0;
}

.entryColumns {
  display: grid;
  grid-template-columns: 34rem 1fr;
  align-items: flex-start;
  gap: 1.8rem;
}

.entryLeft {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  min-width: 0;
}
