.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.errorContainer {
  min-height: 60vh;
  padding-top: 10vh;
  color: #899096;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorHeading {
  font-family: "Sora", sans-serif;
  font-size: 12.8rem;
}

.errorText {
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.3;
}

/* --------------------------------- Queries -------------------------------- */
@media (max-width: 48em) {
  .errorText {
    font-size: 2rem;
  }
}

@media (max-width: 30em) {
  .errorHeading {
    font-size: 9.6rem;
  }

  .errorText {
    font-size: 1.6rem;
  }
}
