<!DOCTYPE html>
<html>
  <head>
    <title>403</title>
    <script src="/js/static/403.js" defer></script>
    <link rel="stylesheet" href="/styles/static/error-page.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <main class="container">
          <div class="error--container">
            <h1 class="heading-xlarge">403</h1>
            <span class="error--text"
              >You are not authorized to access this page.</span
            >
            <div class="btn-container">
              <button
                type="button"
                class="go-home-btn--small"
                onclick="goHome()"
              >
                Go home
              </button>
              <button
                type="button"
                class="sign-out-btn--small"
                onclick="signOut()"
              >
                Sign Out
              </button>
            </div>
          </div>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
