<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="stylesheet" href="styles/static/404.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main class="container">
      <div class="fourohfour--container">
        <h1 class="heading-xlarge">404</h1>
        <span class="fourohfour--text"
          >We couldn't find the page you're looking for.<br />It may have been
          moved or doesn't exist anymore.</span
        >
        <a href="/" class="fourohfour--home-button">Go home</a>
      </div>
    </main>
  </body>
</html>
