<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="stylesheet" href="/styles/static/error-page.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <main class="container">
          <div class="error--container">
            <h1 class="heading-xlarge">500</h1>
            <span class="error--text"
              >We encountered a database error:<br /><%= err.message %></span
            >
            <a href="/" class="error--home-button">Go home</a>
          </div>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
