@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  background-image: url("../assets/home-bg-lazy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lazy-img {
  filter: blur(20px);
}

.img {
  transition: filter 0.3s ease;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  animation: fadeInUp 0.5s ease-in-out forwards;
  opacity: 0;
}

.logo {
  margin: 20px auto;
  max-width: 600px;
  height: auto;
}

.logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.logo:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) rotateX(20deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}

.material-icons {
  font-family: "Material Icons Round";
  vertical-align: middle;
  margin-right: 5px;
}

.nav-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  z-index: 1;
}

.nav-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #646464;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.search-box input[type="text"] {
  font-family: "DM Sans", sans-serif;
  width: 600px;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-box input[type="text"]::placeholder {
  color: #646464;
}

.search-box input[type="text"]:focus {
  border-color: #202020;
  outline: none;
}

.search-box input[type="text"]:hover {
  border-color: #202020;
}

.search-box button {
  font-family: "Material Icons Round";
  font-size: 30px;
  color: #ffffff;
  background-color: #000000;
  border: 4px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}
.search-box button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
.search-box button:hover {
  border-color: #646464;
  background-color: #646464;
}
