@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.material-icons {
  font-family: "Material Icons Round";
  vertical-align: middle;
  margin-right: 5px;
}

.navbar-divider {
  height: 2px;
  background-color: #000;
  width: 100%;
  margin: 0;
}

.navbar {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  background: #fff;
  z-index: 100;
}

.logo {
  /* margin: 20px auto; */
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 100px;
  height: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #646464;
}

.nav-search-bar {
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-search-input {
  font-family: "DM Sans", sans-serif;
  width: 180px;
  padding: 6px 10px;
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 14px;
}

.nav-search-input::placeholder {
  color: #646464;
}

.nav-search-input:focus,
.nav-search-input:hover {
  border-color: #202020;
  outline: none;
}

.nav-search-button {
  display: flex;
  font-family: "Material Icons Round";
  font-size: 20px;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px;
}

.nav-search-button:hover {
  border-color: #646464;
  background-color: #646464;
}

.nav-search-button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
