@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#scrollToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.material-icons {
  user-select: none;
  font-family: "Material Icons Round";
  vertical-align: middle;
}

.animate {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

body {
  background-color: #f4f4f4;
}

.content {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 30px;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) rotateX(20deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}

h1 {
  font-size: 40px;
  color: #000;
  margin-bottom: 10px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

.filter-btns {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.filter-btn {
  font-family: DM Sans, sans-serif;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-btn:hover {
  background: #000;
  color: #ffffff;
}

.filter-btn-active {
  background: #000;
  color: #ffffff;
}

.no-results {
  display: none;
  justify-content: center;
  align-items: center;
  height: 75vh;
  font-size: 60px;
  color: #aaa;
}

.results {
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 10px;
}

.result-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.result-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.result-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.result-img {
  width: 64px;
  height: 64px;
  border: 2px solid #000;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.result-info {
  display: flex;
  flex-direction: column;
}

.open-icon {
  font-size: 20px;
  color: #666;
}

.result-title {
  font-weight: bold;
  font-size: 18px;
}

.result-sub-one {
  font-size: 16px;
  color: #444;
}

.result-sub-two {
  font-size: 14px;
  color: #666;
}
