@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#scrollToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.material-icons {
  font-family: "Material Icons Round";
  vertical-align: middle;
}

body {
  background-color: #f4f4f4;
}

.animate {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.content {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 20px;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) rotateX(20deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}

.invert {
  filter: invert(1);
}

h1 {
  font-size: 40px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  color: #333;
}

p {
  line-height: 1rem;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #646464;
}

a:active {
  text-decoration: none;
  color: #000;
}

.meta--section {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.song-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

.song-image-container {
  display: flex;
  margin-right: 10px;
  margin-top: 5px;
}

.cover-image {
  width: 285;
  height: 285;
  border: 5px solid #000;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.item-info {
  flex: 1;
  min-width: 260px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 0px;
  margin-top: 0px;
}

.open-video-link {
  font-size: 48px;
  color: #000000;
  transition: color 0.3s ease;
}

.open-video-link:hover {
  color: #646464;
}

.preset-section {
  margin-top: 20px;
}

.result-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.result-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.result-img {
  width: 64px;
  height: 64px;
  border: 2px solid #000;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.result-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.result-info {
  display: flex;
  flex-direction: column;
}

.result-title {
  font-weight: bold;
  font-size: 18px;
}

.result-usage-type {
  font-size: 16px;
  color: #444;
}

.result-sub {
  font-size: 14px;
  color: #444;
}

.open-icon {
  font-size: 20px;
  color: #666;
}

/* mobile styles */
@media (max-width: 768px) {
  .song-details-container {
    flex-direction: column;
    align-items: center;
  }

  .song-info {
    margin: 0;
    text-align: center;
  }

  .video-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
