@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

html {
  scroll-behavior: smooth;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#scrollToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.material-icons {
  user-select: none;
  font-family: "Material Icons Round";
  vertical-align: middle;
}

.animate {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

body {
  background-color: #f4f4f4;
}

.content {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 30px;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) rotateX(20deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}

.invert {
  filter: invert(1);
}

h1 {
  font-family: "Sora", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #000;
  margin-top: 10px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  line-height: 1.8rem;
  font-size: 18px;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #646464;
}

a:active {
  text-decoration: none;
  color: #000;
}

.meta--section {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.synth-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

.synth-image-container {
  display: flex;
  margin-right: 10px;
  margin-top: 5px;
}

.cover-image {
  width: 285px;
  height: 285px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.cover-image:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease;
}

.item-info {
  flex: 1;
  min-width: 260px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 0px;
  margin-top: 0px;
}

.song-list-container {
  margin-top: 20px;
}

.result-card {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.open-song-container {
  position: relative;
  display: flex;
}

.open-song-overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-68%, -50%);
  font-size: 40px;
  color: #000000;
  opacity: 0;
}

.open-song-overlay-icon--active {
  opacity: 0.75;
  transition: all 0.3s ease;
}

.result-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.result-info-wrapper:hover {
  text-decoration: none;
  color: #646464;
}

.result-info-wrapper:active {
  text-decoration: none;
  color: #000;
}

.result-img {
  width: 64px;
  height: 64px;
  border: 2px solid #000;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.result-img--active {
  filter: grayscale(75%);
  opacity: 0.5;
  transition: all 0.3s ease;
}

.result-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.result-info {
  display: flex;
  flex-direction: column;
}

.result-title {
  font-weight: bold;
  font-size: 18px;
}

.result-album {
  font-size: 16px;
  color: #444;
}

.result-all-artists {
  font-size: 14px;
  color: #444;
}

.result-role {
  font-size: 14px;
  color: #666;
}

.result-preset-name {
  font-weight: bold;
  font-size: 18px;
}

.result-usage-type {
  font-size: 16px;
  color: #444;
}

.expand-icon {
  font-size: 20px;
  color: #666;
  transition: all 0.3s ease;
}

.expand-icon--active {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.song-presets--container {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.4s ease;
}

.preset-result-card {
  user-select: none;
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.preset-result-card:hover,
.preset-result-card--active {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  z-index: 10;
}

.result-preset-icon {
  padding: 5px;
}

.song-preset-element-container {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.preset-audio-play {
  font-size: 24px;
  color: #666;
  transition: all 0.2s ease;
}

.preset-audio-play--active {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
