.red {
  color: #c25c5c !important;
}

.label,
.small,
.select {
  width: 100%;
}

.select {
  font-family: "Geist", sans-serif;
  color: #e3e5e4;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.4rem;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.label {
  position: relative;
  display: block;
  font-size: 1.6rem;
  line-height: 1.1;
}

.small {
  font-size: 1.3rem;
  display: block;
  color: #899096;
  line-height: 1.2;
}

.small a {
  text-decoration: underline !important;
}
