.selectorContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

.labelText {
  font-size: 1.6rem;
  line-height: 1.1;
}

.textContainer {
  cursor: pointer;
  width: 100%;
  padding: 1.2rem 0.8rem;
  background-color: #171b1f;
  border: 0.2rem solid #2d343a;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  min-width: 0;
}

.selectorText {
  user-select: none;
  font-family: "Geist", sans-serif;
  color: #899096;
  font-size: 1.4rem;
  transition: color 0.2s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.selectorIcon {
  font-family: "Geist", sans-serif;
  color: #899096;
  font-size: 1.4rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.selectorIcon.open {
  transform: rotate(180deg);
}

.textContainer:hover .selectorIcon,
.textContainer:hover .selectorText {
  color: #e3e5e4;
}

.textContainer.show {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.divider {
  width: 100%;
  border-bottom: 0.1rem solid #2d343a;
}

.addBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addBtn {
  font-size: 1.4rem;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  color: #e3e5e4;
}
