body {
  background-color: #171b1f;
}

.container {
  border-left: 0.2rem solid #2d343a;
  border-right: 0.2rem solid #2d343a;
  border-bottom: 0.2rem solid #2d343a;
  background-color: #202429;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.hide {
  display: none !important;
}

/* ----------------------------- Text modifiers ----------------------------- */
.more-songs--song-title,
.more-songs--header-title,
.entry--tertiary,
.entry--primary,
.entry--secondary {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

/* ----------------------------- Main Container ----------------------------- */
.entry-main--container {
  padding: 3.2rem 0 2rem 0;
  overflow: hidden;
  min-width: 0;
}

.entry--columns {
  display: grid;
  grid-template-columns: 34rem 1fr;
  align-items: flex-start;
  gap: 1.8rem;
}

/* ------------------------------- Entry Left ------------------------------- */
.entry--left {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  min-width: 0;
}

/* ----------------------------- Title Container ---------------------------- */
.entry--title-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border-radius: 0.8rem;
  background-color: #2d343a;
  padding: 1.4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
  min-width: 0;
}

.entry--img-container {
  align-self: center;
  position: relative;
}

.open-in-new-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-75%, 75%);
  color: #899096;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}

.open-in-new-icon:hover {
  color: #e3e5e4;
}

.entry--img {
  width: 32rem;
  height: 32rem;
  border-radius: 0.8rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
}

.entry--title-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.entry--primary {
  font-family: "Sora", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
}

.entry--secondary {
  line-height: 1.1;
  font-size: 1.6rem;
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.2s ease;
}

.entry--secondary:hover {
  color: #e3e5e4 !important;
}

/* -------------------------------- More info ------------------------------- */
.entry--more-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #171b1f;
  border-radius: 0.8rem;
  padding: 1.4rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
  min-width: 0;
}

.entry--more-info-section {
  color: #899096;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  overflow: hidden;
  min-width: 0;
  flex: 1 1 auto;
}

.icon-wrapper {
  width: 1.8rem;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.entry--more-info-icon {
  font-size: 1.6rem;
}

.entry--all-artists {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
}

.entry--tertiary {
  font-size: 1.4rem;
  line-height: 1.1;
}

.entry--tertiary > a {
  transition: color 0.2s ease;
}

.entry--tertiary > a:hover {
  color: #e3e5e4 !important;
}

.entry--more-info-section > a:hover {
  color: #e3e5e4 !important;
}

/* ------------------------------- More songs ------------------------------- */
.more-songs--container {
  display: flex;
  flex-direction: column;
  background-color: #2d343a;
  border-radius: 0.8rem;
  border: 0.2rem solid #2d343a;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
  min-width: 0;
}

.more-songs--header {
  display: flex;
  padding: 1.4rem;
  overflow: hidden;
  min-width: 0;
}

.more-songs--header-title {
  color: #899096;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1;
}

.more-songs--entry-container {
  display: flex;
  flex-direction: column;
  background-color: #171b1f;
}

.more-songs--img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 0.4rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
}

.more-songs--entry {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  border-bottom: 0.1rem solid #2d343a;
  padding: 1.4rem;
}

.more-songs--entry:last-child {
  border-radius: 0.8rem;
  border-bottom: none;
}

.more-songs--song-title {
  color: #899096;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1;
  transition: color 0.2s ease;
}

.more-songs--entry:hover .more-songs--song-title {
  color: #e3e5e4;
}

/* ---------------------------------- Right --------------------------------- */
.entry--right {
  display: flex;
  flex-direction: column;
  /* gap: 1.8rem; */
  min-width: 0;
}

.heading-secondary {
  color: #899096;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

/* --------------------------------- Filter --------------------------------- */
.entry-filter--container {
  display: flex;
}

.entry-filter {
  display: flex;
  align-items: center;
  background-color: #171b1f;
  border: 2px solid #2d343a;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  min-width: 2.4rem;
  position: relative;
}

.entry-filter--input {
  font-family: "Geist", sans-serif;
  font-size: 1.3rem;
  color: #899096;
  background-color: transparent;
  border: none;
  flex: 1;
  padding: 0.8rem 0;
}

.entry-filter--clear {
  cursor: pointer;
  font-size: 1.4rem;
  color: #899096;
  transition: color 0.2s ease;
}

.entry-filter--clear:hover {
  color: #e3e5e4;
}

/* ------------------------------ Presets Grid ------------------------------ */
.list-section {
  padding-top: 2rem;
}

.grid-layout--list {
  display: grid;
  grid-template-columns: 2rem 4fr 2.5fr 2fr 1.5fr;
  align-items: center;
  gap: 1.4rem;
}

.list-entry-columns {
  color: #899096;
  font-size: 1.3rem;
  border-top: 0.1rem solid #2d343a;
  border-bottom: 0.1rem solid #2d343a;
  padding: 1.4rem;
}

.list-entry--number,
.list-entry--primary,
.list-entry--secondary,
.list-entry--tertiary {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
}

.preset-list-entry {
  padding: 1.2rem;
  border-bottom: 0.1rem solid #2d343a;
  transition: background-color 0.2s ease;
}

.list-entry:nth-child(odd) {
  background-color: #1e2227;
}

.list-entry--title-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  min-width: 0;
}

.list-entry--img {
  width: 7.2rem;
  height: 7.2rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0.4rem;
}

.list-entry--primary {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1;
}

.list-entry--secondary {
  color: #899096 !important;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.2s ease;
}

.list-entry--secondary:hover {
  color: #e3e5e4 !important;
}

.preview-header-text {
  justify-self: center;
}

.preset-entry-btn-container {
  justify-self: center;
}

.preset-entry--play-btn-active,
.preset-entry--play-btn {
  cursor: pointer;
  color: #899096;
  font-size: 2.4rem;
  transition: color 0.2s ease;
}

.preset-entry--play-btn-active {
  color: #e3e5e4;
}

.preset-entry--play-btn:hover {
  color: #e3e5e4;
}

.preset-entry--play-btn-active:hover {
  color: #899096;
}

/* --------------------------------- Queries -------------------------------- */
