* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.site-footer {
  max-height: 25.6rem;
  font-family: "Geist", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.2rem;
  color: #899096;
  overflow-x: hidden;
  background-color: #171b1f;
  padding: 3.2rem;
  flex-shrink: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}

.footer-left {
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-logo {
  cursor: pointer;
  width: 4.8rem;
}

.footer-site-name {
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-site-desc {
  line-height: 1.2;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-social-icon {
  font-size: 2.4rem;
  transition: color 0.2s ease;
}

.footer-social-icon:hover {
  color: #e3e5e4;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  border-top: 1px solid #2d343a;
  padding-top: 1.8rem;
}

.footer-policy-links {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  transition: color 0.2s ease;
}

.footer-policy-link {
  transition: color 0.2s ease;
}

.footer-policy-link:hover {
  color: #e3e5e4;
}

/* --------------------------------- Queries -------------------------------- */
@media (max-width: 60em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media (max-width: 48em) {
  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-left {
    max-width: 100%;
  }

  .footer-logo {
    width: 3.2rem;
  }

  .footer-site-name {
    font-size: 1.4rem;
  }

  .footer-social-icon {
    font-size: 2rem;
  }
}

@media (max-width: 30em) {
  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.4rem;
  }

  .site-footer {
    padding-top: 2.4rem;
  }
}
