/* TAGS */
.tag--trap {
  color: #ff5a9c;
  border-color: #51152b;
  background-color: #3a0a1e;
}

.tag--hip-hop {
  color: #ff5e5e;
  border-color: #501919;
  background-color: #3a0f0f;
}

.tag--rage {
  color: #d585ff;
  border-color: #3e2553;
  background-color: #2b143e;
}

.tag--pop {
  color: #ffae57;
  border-color: #4f3a1b;
  background-color: #3a2a14;
}

.tag--cloud-rap {
  color: #6bdfff;
  border-color: #1d3b45;
  background-color: #10252a;
}

.tag--alternative-hip-hop {
  color: #6baeff;
  border-color: #1f2f54;
  background-color: #13203a;
}

.tag--japanese-hip-hop {
  color: #63f5bb;
  border-color: #1d4235;
  background-color: #0f2922;
}

.tag--future-bass {
  color: #ff994d;
  border-color: #4c2d19;
  background-color: #332014;
}

.tag--underground-trap {
  color: #b5ff5d;
  border-color: #394520;
  background-color: #222c16;
}

.tag--sigilkore {
  color: #8fb4e8;
  border-color: #2c3541;
  background-color: #1a1f26;
}

.tag--progressive-house {
  color: #79f1c1;
  border-color: #2a4235;
  background-color: #1c2e24;
}

.tag--emo-rap {
  color: #6ad3ff;
  border-color: #1d3d45;
  background-color: #112c33;
}

.tag--house {
  color: #85eaff;
  border-color: #1d3b45;
  background-color: #102934;
}

.tag--witch-house {
  color: #b68fff;
  border-color: #392e6b;
  background-color: #271f4d;
}

.tag--electropop {
  color: #ffc066;
  border-color: #4d3c1e;
  background-color: #3b2d15;
}

/* Status */
.status--new {
  color: #fff;
  border-color: #f03e3e;
  background-color: #fa5252;
}

.status--new::before {
  content: "🌟";
  margin-right: 5px;
}

/* Synth tags */
.tag--vst {
  color: #e2e6ea;
  border-color: #3f464c;
  background-color: #2a2d31;
}

.tag--vst::before {
  content: "🎹";
  margin-right: 5px;
}

.tag--hardware {
  color: #e2e6ea;
  border-color: #3f464c;
  background-color: #2a2d31;
}

.tag--hardware::before {
  content: "🎛️";
  margin-right: 5px;
}

.tag--kontakt-bank {
  color: #e2e6ea;
  border-color: #3f464c;
  background-color: #2a2d31;
}

.tag--kontakt-bank::before {
  content: "🎸";
  margin-right: 5px;
}

/* Charts tags */
.rank--one {
  color: #c92a2a;
  border-color: #ff6b6b;
  background-color: #fff5f5;
}

.rank--two {
  color: #1971c2;
  border-color: #4dabf7;
  background-color: #e7f5ff;
}

.rank--three {
  color: #087f5b;
  border-color: #20c997;
  background-color: #e6fcf5;
}

.rank--other {
  color: #495057;
  border-color: #adb5bd;
  background-color: #f8f9fa;
}
