/* Status */
.status--new {
  color: #fff;
  border-color: #f03e3e;
  background-color: #fa5252;
}

.status--new::before {
  content: "🌟";
  margin-right: 5px;
}

/* Synth tags */
.tag--vst {
  color: #e2e6ea;
  border-color: #3f464c;
  background-color: #2a2d31;
}

.tag--vst::before {
  content: "🎹";
  margin-right: 5px;
}

.tag--hardware {
  color: #e2e6ea;
  border-color: #3f464c;
  background-color: #2a2d31;
}

.tag--hardware::before {
  content: "🎛️";
  margin-right: 5px;
}

.tag--kontakt-bank {
  color: #e2e6ea;
  border-color: #3f464c;
  background-color: #2a2d31;
}

.tag--kontakt-bank::before {
  content: "🎸";
  margin-right: 5px;
}
